@import url("https://use.typekit.net/ffx5zmj.css");
@font-face {
    font-family: 'fatfrank', sans-serif;
    src: url('https://use.typekit.net/ffx5zmj.css');
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
}


/********general*********/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    min-height: 100%;
    background: #fff;
    background-image: none;
}

html,
body,
p,
span {
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

a {
    color: rgba(0, 0, 0, 0.7);
}

.navbar {
    /* box-shadow: 2px 2px 5px #3292a6; */
    min-height: 110px;
    position: relative;
    opacity: 1;
    background: #fff;
}

.navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
}

.btn.btn-primary {
    color: #fff;
    /* background-color: #EA3F32; */
    background-color: #E61140;
    border-color: #E61140;
}

.btn.btn-primary:hover {
    color: #fff;
    background-color: #E61140;
    border-color: #E61140;
}

.btn.btn-primary:focus,
.btn.btn-primary.focus {
    box-shadow: none;
}

.btn.btn-primary.disabled,
.btn.btn-primary:disabled {
    color: #fff;
    background-color: #E61140;
    border-color: #E61140;
}

.btn.btn-primary:not(:disabled):not(.disabled):active,
.btn.btn-primary:not(:disabled):not(.disabled).active,
.btn.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #E61140;
    border-color: #E61140;
}

.btn.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn.btn-primary.focus:not(.btn-text),
.btn.btn-primary:focus:not(.btn-text),
.btn.btn-primary:hover:not(.btn-text):not(:disabled):not(.disabled) {
    color: #fff;
    background-color: #E61140;
    border-color: #E61140;
}


/***********main**************/

.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
}

.carousel-control-prev-icon {
    background-image: url('../../media/images/Left.png');
    width: 45px;
    height: 45px;
}

.carousel-control-next-icon {
    background-image: url('../../media/images/right.png');
    width: 45px;
    height: 45px;
}

.navbar-nav.btnlinks {
    margin-top: 10px;
}

.navbar .nav-item {
    padding-right: 0;
    padding-top: 2px;
    margin-right: 20px;
    /* padding-top: 40px; */
}

.navbar-light .navbar-nav .nav-link {
    color: #5C6163;
    letter-spacing: 0px;
    font-weight: normal;
    font-size: 14px;
}

.navbar-light .navbar-nav .nav-link.btn-tripper {
    /* width: 200px;
      height: 97px; */
    margin-top: -10px;
    margin-right: -10px;
}

.navbar-light .navbar-nav .nav-link.btn-user {
    /* margin-top: 2px; */
    text-align: right;
    width: 110px;
    height: 42px;
    padding: 6px;
    padding-right: 6px;
    background: #fff;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-right: -10px;
}

.nav-link.btn-user span.btn-user-text {
    font-family: 'fatfrank', sans-serif;
    letter-spacing: 0.5px;
    color: #939FA4;
    text-align: left;
    padding-right: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}

.nav-item.margin-right-menu-200 {
    margin-right: 200px;
}

.navbar-light .navbar-brand {
    position: absolute;
    /* top:-50px; */
    background: #fff;
    margin-left: 80px;
    padding: 30px 24px;
    padding-top: 65px;
    /* padding: 8px; */
    box-shadow: 0 1px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.navbar-light .navbar-brand img {
    width: 115px;
    /* margin-top: 35px; */
}

.navbar-light .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-light .navbar-nav .nav-link.active-menu-link {
    font-family: 'fatfrank', sans-serif;
    font-size: 14px;
    background: #fce300;
    color: #3D3D3D;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 400;
    /* font-weight: bold; */
    box-shadow: 0 1px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
    padding: 10px 0px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.dropdown-item {
    /* padding: 0.5rem 1.8rem; */
    padding: 0.5rem 2rem 0.5rem 1.2rem;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 16px;
    color: #5C6163;
}

.dropdown-item.font-light {
    font-weight: normal;
}

.dropdown-item.active-item-link {
    font-family: 'fatfrank', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #3D87CB;
    text-transform: uppercase;
}

#slider {
    background: #fff;
    width: 100%;
    float: left;
    z-index: 1;
}

#slider .carousel-item img {
    min-height: 100%;
}


/* #wheretogo {
    clear: both;
    margin-bottom: 400px;
} */

#wheretogo .where-to-go {
    width: 100%;
    min-width: 130px;
    min-height: 120px;
    display: block;
    margin-top: -75px;
    z-index: 9;
    background: #fff;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

#wheretogo .checkboxes-inline {
    margin-top: 50px;
    margin-bottom: 100px;
    /* font-family: 'FatFrank' !important; */
}


/* #wheretogo .where-to-go a.gobutton,
#wheretogo .where-to-go button.gobutton {
    float: right;
} */

.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.custom-select.is-valid {
    border-color: transparent;
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus,
.was-validated .custom-select:valid:focus,
.custom-select.is-valid:focus {
    border-color: transparent;
}

.form-control.persons {
    max-width: 185px;
    display: inline-block;
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.select2-container--default .select2-selection--single {
    border: 0 !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: 0 !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border: 0 !important;
}

.select2-container {
    display: inline-block;
    max-width: 230px;
}

select,
select.form-control,
select#kt_select2_1 {
    appearance: none !important;
    /* for Firefox */
    -moz-appearance: none !important;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none !important;
}

select::-ms-expand,
select.form-control::-ms-expand {
    display: none !important;
}

select.form-control:focus::-ms-value {
    color: #3F4254;
    background-color: #ffffff;
}

select.form-control[size],
select.form-control[multiple] {
    height: auto;
}

select.form-control,
select span,
.daterangepicker,
span.select2-container span,
input.form-control,
input.form-control:focus {
    color: #A7B0B4 !important;
    font-family: 'Open Sans';
    font-size: 16px !important;
    border: none !important;
    outline: none !important;
}

.paddingtop-30 {
    margin-top: 30px;
}

.daterangepicker.show-calendar .ranges {
    height: 0px;
}

.form-check-inline .form-check-input {
    background: url('../../media/images/empty-checkbox.png');
}


/* Hide the browser's default checkbox */

#wheretogo .checkboxes-inline label.custom-checkbox {
    font-family: 'fatfrank', sans-serif !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    color: #A7B0B4 !important;
    letter-spacing: 0.2px;
}

.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-checkbox input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-image: url('../../media/images/empty-checkbox.svg');
    /* background-color: #fff; */
}


/* On mouse-over, add a grey background color */

.custom-checkbox:hover input[type=checkbox]~.checkmark {
    /* background-color: #ccc; */
    background-image: url('../../media/images/empty-checkbox.svg');
}


/* When the checkbox is checked, add a blue background */

.custom-checkbox input[type=checkbox]:checked~.checkmark {
    /* background-color: #2196F3; */
    background-image: url('../../media/images/filled-checkbox.svg');
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.custom-checkbox input[type=checkbox]:checked~.checkmark:after {
    display: block;
}


/************changes-18-8*****************/

#slider .carousel-indicators {
    bottom: 15%;
}

#slider .carousel-indicators li {
    border-radius: 100%;
    width: 14px;
    height: 14px;
    margin-right: 3px;
    margin-left: 3px;
}


/* #wheretogo .select2-container--default .select2-selection--multiple .select2-selection__arrow,
#wheretogo .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
} */

#main-nav .dropdown-item.active,
#main-nav .dropdown-item:active {
    background: #3D87CB;
}


/************changes-18-8*****************/


/*****************changes-20-8**************/

.d-table {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
}

.modal-content {
    border-radius: 10px;
}

.modal .modal-header .modal-title {
    font-family: 'fatfrank', sans-serif !important;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-right: -25px;
}

.modal-body {
    background: url('../../media/images/login-bg.jpg');
    background-repeat: repeat;
    border-radius: 0 0 10px 10px;
}

.login-container {
    max-width: 600px;
    margin: 0 auto;
}

#reg_popup .login-container {
    max-width: 700px;
    margin: 0 auto;
}

#reg_popup .login-container .w-47 {
    width: 47% !important;
}

.login-container .form-control {
    height: 80px;
    font-size: 18px;
    color: #8a8fa3;
    font-weight: 500;
    border: none;
}

.login-container .input-group {
    margin-bottom: 30px;
}

.input-group-text {
    background-color: #ffffff;
    border: 0px;
    padding: .65rem 1.5rem;
}

.login-container .input-group-prepend span.input-group-text i {
    margin: auto;
    color: #f80041;
}

.input-group i.flaticon-lock::after,
.input-group i.flaticon-lock::before {
    font-weight: bolder !important;
}

.login-container input[type="submit"] {
    font-size: 25px;
    font-family: 'Open Sans';
    font-weight: 500;
    text-transform: capitalize;
    width: 100%;
    margin-top: 9px;
    height: 80px;
    border-radius: 38.5px;
    background: #E50046;
    border: none;
    color: #fff;
    line-height: normal;
}

.login-container input[type="password"] {
    background: #ffffff !important;
}

.forget-password p,
.forget-password p a {
    font-size: 14px !important;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #181C32 !important;
    margin-bottom: 5px;
}

.forget-password p a:hover {
    color: #f80041 !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.overflow-show {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.btn.login-with-google-btn {
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 400;
    background: #F12001;
    color: #fff;
    border-radius: 37px;
    min-width: 240px;
    text-align: right;
    padding-left: 12px !important;
    vertical-align: middle;
    line-height: 29px;
    height: 70px;
}

.btn.login-with-google-btn .svg-icon,
.btn.login-with-fb-btn .svg-icon {
    text-align: left;
    float: left;
}

.btn.login-with-google-btn .svg-icon.svg-icon-md svg {
    width: 45px !important;
    height: 31px !important;
    margin-left: -1px;
}

.btn.login-with-fb-btn .svg-icon.svg-icon-md svg {
    width: 37px !important;
    height: 37px !important;
    margin-left: -1px;
}

.checkbox>input~span {
    background-color: #ffffff;
}

.forget-password p a.color-pink {
    color: #f80041 !important;
}

.btn.login-with-fb-btn {
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 400;
    background: #4763AE;
    color: #fff;
    border-radius: 37px;
    float: right;
    min-width: 240px;
    text-align: right;
    padding-left: 12px !important;
    vertical-align: middle;
    line-height: 44px;
    height: 70px;
}


/**********media query ***********/

@media (min-width: 992px) {
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        padding: 0px;
    }
}

@media (max-width: 1199.98px) {
    .nav-item.margin-right-menu-200 {
        margin-right: 0px;
    }
    #wheretogo .where-to-go a.gobutton img,
    #wheretogo .where-to-go button.gobutton img {
        max-width: 60px;
    }
    .pt-30 {
        margin-top: 12px;
    }
    .paddingtop-20 {
        padding-top: 20px;
    }
    .btn.login-with-fb-btn,
    .btn.login-with-google-btn {
        min-width: 216px;
    }
}

@media (max-width:991.99px) {
    #reg_popup .login-container .w-47 {
        width: 100% !important;
    }
    #reg_popup .login-container .w-50 {
        width: 100% !important;
    }
}

@media (max-width: 980px) {
    .nav-item.margin-right-menu-200 {
        margin-right: 0px;
    }
    .navbar-light .navbar-brand {
        position: sticky;
        box-shadow: none;
        margin-left: 0px;
        padding: 10px;
        border-radius: 0px;
    }
    .navbar .nav-item {
        margin-right: 0px;
    }
    .navbar-light .navbar-nav .nav-link.btn-user {
        margin-right: 2px;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 30px;
        height: 30px;
    }
    .container-fluid.bd-8 {
        padding: 0;
    }
}

@media (max-width: 767.98px) {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 25px;
        height: 25px;
    }
    #wheretogo .where-to-go {
        margin-top: -40px;
    }
    .navbar-nav {
        padding: 10px;
    }
    .navbar-collapse {
        margin-top: 30px;
        padding-bottom: 37px;
        box-shadow: 0 8px 12px -3px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 8px 8px;
    }
    .bd-8 {
        border-radius: 0 0 8px 8px;
    }
    .navbar-nav.btnlinks {
        display: flex;
        flex-direction: row;
    }
    .navbar-nav.btnlinks .nav-item {
        margin-right: 10px;
    }
    .navbar-light .navbar-nav .nav-link.btn-tripper {
        padding-left: 0px;
    }
    .dropdown-menu {
        width: auto;
        margin: 10px 0 10px -40px;
    }
    /************changes-18-8*****************/
    .carousel-indicators {
        display: none;
    }
}