@import url("https://use.typekit.net/ffx5zmj.css");
@font-face {
    font-family: "fatfrank", sans-serif;
    src: url("https://use.typekit.net/ffx5zmj.css");
    font-weight: 400;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    color: #5c6163;
    background: #fff !important;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 1.3;
}

.custom-active-text {
    color: #e9a821 !important;
    font-weight: bold;
}

.custom-awaiting-text {
    color: #5495d0 !important;
    font-weight: bold;
}

.custom-paused-text {
    color: #34aa09 !important;
    font-weight: bold;
}

.text-underline {
    text-decoration: underline !important;
}

.w-40 {
    width: 40% !important;
}
.btn-yellowicon.active {
    color: #fce302;
    background-color: #000;
}

#loader_spin {
    background: rgba(256, 256, 256, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 220px;
    left: 0;
    top: 0;
    z-index: 99;
    opacity: 1;
}

#loader_spin img {
    width: 100px;
    height: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -75px;
    margin-right: -75px;
    animation: none;
    border-radius: 100%;
    border: 0 !important;
}

div.dataTables_paginate {
    white-space: nowrap;
    text-align: center !important;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
    width: 1% !important;
    float: left;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}

div.dataTables_wrapper div.dataTables_length {
    float: right;
}

div.dataTables_filter input {
    width: 200px !important;
}

.arrow-icon {
    margin-left: 5px;
}
.dynamic_text {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.w-60 {
    width: 60% !important;
}

.font-fam-fatfrank {
    font-family: "fatfrank", sans-serif !important;
}

.font-fam-open {
    font-family: "Open Sans", sans-serif !important;
}

.box-shadow-custom {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2) !important;
}

.modal-content {
    border: 0;
    border-radius: 20px;
}

.modal-header {
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}

.modal-body {
    padding: 10px 30px;
}
.modal-body h1 {
    font-family: "Fatfrank", sans-serif !important;
    text-align: center !important;
    font-weight: 800 !important;
    font-size: 24px !important;
    line-height: 30px !important;
    color: #000000 !important;
}
.modal-body p,
.modal-body,
.modal-body span {
    text-align: center !important;
    color: #000 !important;
}
.modal-body .form-group {
    margin-top: 1rem;
}
.modal-body .input-group {
    display: flex;
    justify-content: center;
    margin: auto;
}

.w-rem-10 {
    width: 8rem !important;
}

.table {
    color: #000000;
    border-radius: 5px;
}

form.subscription .input-group span.fa.pt-2 {
    padding-top: 11px !important;
}

.action-control {
    min-width: 200px !important;
}

table {
    width: 100% !important;
}

a {
    color: rgba(0, 0, 0, 0.7);
}

.img-45 {
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 2px;
}

.details img.rounded-circle {
    width: 105px;
    height: 105px;
}

button {
    border: 0px !important;
    background-color: transparent;
}

button:focus {
    outline: 0 !important;
    border: 0px !important;
}

.p-left-custom {
    padding-left: 35px;
}

.bg-gradient-primary {
    background-image: none !important;
    background-color: #fff;
}

.sidebar .nav-item {
    margin: 5px 20px;
}

.topbar {
    height: 60px;
}

.topbar .nav-item .nav-link {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

label.error {
    width: 100%;
    clear: both;
    color: red;
    font-size: 15px;
    padding: 5px 0 0 0;
    text-align: left;
}

.alert {
    position: relative;
    padding: 0.3rem 2.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.42rem;
}

.alert.alert-danger {
    font-size: 14px;
}

.alert.alert-light-danger,
.alert-text {
    text-align: left;
}

.alert.alert-custom.alert-light-danger .alert-text {
    color: #f64e60;
}

.alert.alert-custom .alert-text {
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.alert.alert-custom .alert-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1.25rem 0 0;
}

.alert.alert-custom.alert-light-danger.alert-notice {
    border: 0;
    border-left: 4px solid #f64e60;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.text-grey {
    color: #5c6163 !important;
}

.sidebar .nav-item.active .nav-link {
    font-family: "fatfrank", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5c6163 !important;
    background-color: #fce302 !important;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.sidebar .nav-item .nav-link {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5c6163 !important;
    text-transform: capitalize;
    text-align: left;
}

.sidebar .nav-item.active .nav-link i,
.sidebar .nav-item.active .nav-link span.fas {
    color: #5c6163 !important;
}

.sidebar .nav-item .nav-link i,
.sidebar .nav-item .nav-link span.fas {
    color: #fce302 !important;
}

.sidebar .nav-item.active .nav-link:hover,
.sidebar .nav-item.active .nav-link:hover span.fas,
.sidebar .nav-item.active .nav-link span.fas:hover {
    color: #5c6163 !important;
}

.sidebar .nav-item .nav-link:active span.fas,
.sidebar .nav-item .nav-link:focus span.fas,
.sidebar .nav-item .nav-link:hover span.fas {
    color: #5c6163;
}

.sidebar .sidebar-heading {
    color: #000000;
}

.sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
    color: rgb(0 0 0 / 50%);
}

.sidebar .nav-item .nav-link:active,
.sidebar .nav-item .nav-link:focus,
.sidebar .nav-item .nav-link:hover {
    color: #5c6163;
}

.sidebar-brand {
    text-decoration: none !important;
}

.sidebar-brand img {
    width: 70px;
}

.btn-primary {
    background-color: #fce302 !important;
    border-color: #fce302 !important;
    color: #000000 !important;
}

.dropdown-item {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5c6163 !important;
}

.dropdown-item i,
.dropdown-item span.fas {
    color: #fce302 !important;
}

.dropdown-item:active,
.dropdown-item:hover {
    background-color: #fce302 !important;
    color: #000000 !important;
}

.action-control {
    width: 200px;
}

.dropdown-item:active i,
.dropdown-item:hover i,
.dropdown-item:active span.fas,
.dropdown-item:hover span.fas {
    color: #fff !important;
}

.sidebar-brand-text {
    font-family: "fatfrank", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
}

.sidebar-brand-text span {
    font-family: "Open Sans", sans-serif;
    padding-left: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link,
.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #fce302;
}

.custom-refunded-text {
    color: #ed3232 !important;
    font-weight: bold;
}

.custom-completed-text {
    color: #34aa09 !important;
    font-weight: bold;
}

.custom-pending-text {
    color: #e9a821 !important;
    font-weight: bold;
}

.custom-link-blue {
    color: #5495d0 !important;
}

#wrapper #content-wrapper {
    background-color: #f8fafc;
}

.custom-alert-msg {
    position: absolute;
    width: 100%;
    padding: 20px;
    z-index: 10;
    font-weight: bold;
    text-align: center;
}

#wrapper {
    position: relative;
}

#showmsg,
#showsuccessmsgsub,
#showerrormsgsub,
#showerrormsg {
    display: inline-block;
}

table.dataTable {
    border-collapse: collapse !important;
}

.table td,
.table th {
    vertical-align: middle;
}

.table td {
    border-top: 0 !important;
    padding: 12px 6px;
}

.table thead th {
    padding: 12px 6px;
}

.table tbody tr {
    border-top: 1px solid #e3e6f0 !important;
    background-color: #fff;
}

.table tbody tr:first-child {
    border-top: 0 !important;
}
.table-hover tbody tr:hover td {
    background-color: #fffbd9 !important;
    color: #000;
}
table#couponcodeList tbody tr {
    border: none !important;
}
table#couponcodeList thead th {
    border: none !important;
    padding-bottom: 50px;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    top: 10px;
}
.table tbody tr td:first-child {
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    padding-left: 30px;
}
.table tbody tr td:last-child {
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    padding-right: 30px;
}
tr:nth-child(even) {
    background-color: #fff !important;
}

/**********radio*************/

.radio > input:checked ~ span::after {
    border-color: transparent;
    background-color: transparent;
}

.radio > input:checked ~ span {
    background: url("../media/images/radio.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -20px;
    padding-left: 25px;
}

.radio > span {
    border-radius: 1.2rem;
    border: none !important;
    cursor: pointer;
}

.radio-inline .radio span {
    padding-left: 5px;
}

.radio > input:checked ~ span:after {
    display: none;
    width: 0px;
    height: 0px;
}

.radio.radio-popup > input:checked ~ span {
    background: url("../media/images/radio_btn_2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -20px;
    padding-left: 25px;
}

.radio.radio-popup span {
    font-family: "fatfrank", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

h1.title-page {
    color: #000000;
    font-family: "fatfrank", sans-serif;
    font-weight: 400;
    font-size: 30px;
}

button,
a {
    border: 0px !important;
}

a.button-default-custom,
button.button-default-custom {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 800 !important;
    font-size: 16px !important;
    color: #fff !important;
    border-radius: 35px !important;
    text-transform: capitalize !important;
    display: inline-block;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

a.button-default-custom:hover,
button.button-default-custom:hover {
    color: #fff !important;
    transform: translateY(-2px);
}

a.btn-sunset-gradient,
button.btn-sunset-gradient {
    padding: 10px;
    margin-bottom: 8px;
    min-width: 120px;
    background: linear-gradient(90deg, #ffe100, #e60a4c);
}

a.btn-approve-custom,
button.btn-approve-custom {
    padding: 8px 10px;
    margin-right: 5px;
    min-width: 90px;
    background: linear-gradient(244.82deg, #e60a4c -14.49%, #f9dc00 109.1%);
    min-height: 40px;
}

a.btn-deny-custom,
button.btn-deny-custom {
    padding: 6px 10px;
    min-width: 90px;
    background: linear-gradient(90deg, #7bc0ff, #1d5384);
    min-height: 40px;
}
a.button-default-custom.btn-deny-custom,
button.button-default-custom.btn-deny-custom {
    color: #727272 !important;
    box-shadow: none !important;
    background: transparent !important;
}

a.btn-yellow-default,
button.btn-yellow-default {
    background-color: #fce302;
    margin-top: 5px;
    width: 26px;
    height: 26px;
    display: inline-block;
    transition: all 0.2s;
}

a.btn-yellow-default:hover,
button.btn-yellow-default:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #fce302;
    transform: translateY(-2px);
}

a.btn-yellow-pause,
button.btn-yellow-pause {
    background: url("../media/images/admin-panel/pause.svg") !important;
    background-repeat: no-repeat;
}

a.btn-yellow-play,
button.btn-yellow-play {
    background: url("../media/images/admin-panel/play.svg") !important;
    background-repeat: no-repeat;
}

a.btn-yellow-cancel,
button.btn-yellow-cancel {
    background: url("../media/images/admin-panel/cancel.svg") !important;
    background-repeat: no-repeat;
}

table.dataTable td,
table.dataTable th {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.dollar-control {
    width: 123px !important;
}

.dollar-control-transaction {
    width: 173px !important;
    margin-top: 10px !important;
}

input.form-control.form-control-dollar {
    height: 40px !important;
    font-size: 0.8rem;
    border-radius: 10rem !important;
}

i.icon-dollar,
span.icon-dollar {
    vertical-align: middle;
    line-height: 40px;
    position: absolute;
    left: 15px;
    z-index: 10;
    color: #939fa4;
    font-size: 1rem;
    font-style: normal;
}

.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
}

label.label-text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: #939fa4;
    text-transform: capitalize;
}

label span {
    font-size: 14px;
}

.text-primary {
    color: #fce302 !important;
}

.page-item.active .page-link {
    background-color: #fce302 !important;
    border-color: #fce302 !important;
    color: #000000 !important;
}

.page-link {
    color: #000000;
}

.page-item.disabled .page-link {
    color: #858796 !important;
}

.page-item .page-link:hover {
    background-color: rgba(252, 227, 2, 0.3);
    border-color: rgba(252, 227, 2, 0.3);
    color: #353535;
}

.page-link:focus {
    box-shadow: none;
}

.login-bg .card {
    background-color: #f2f4f6;
}

.input-group-text {
    background-color: #ffffff;
    border: 0px;
    padding-left: 1.5rem;
}

input.form-control.login-input-tag {
    border: 0px !important;
    height: 70px !important;
    color: #000000 !important;
    font-size: 16px;
    font-weight: 400;
}

input.form-control.login-input-tag::placeholder {
    color: #939fa4 !important;
    font-weight: lighter;
}

.form-control {
    color: #000 !important;
}

.form-control::placeholder {
    color: #6e707e;
}

.form-control:focus {
    box-shadow: none !important;
}

h1.login-title {
    font-weight: bold;
    font-size: 38px !important;
    color: #000000;
}

h1.login-title span {
    font-weight: lighter;
    color: #939fa4;
}

.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.login-bg {
    background-color: #3d87cb !important;
}

.login-bg-img {
    position: relative !important;
    background: url("../media/images/admin-panel/login-bg.png") !important;
    background-size: 90% !important;
    min-height: 100vh !important;
    background-repeat: no-repeat !important;
}

.btn-login-custom {
    min-width: 174px;
    height: 60px;
    font-size: 16px !important;
    color: #000000 !important;
    font-weight: 400;
    border-radius: 15px !important;
    text-transform: uppercase;
    transition: all 0.2s;
}

.btn-login-custom:hover {
    transform: translateY(-2px);
}

a.forgot-pwd-txt {
    color: #000000;
    font-size: 12px !important;
    font-weight: lighter;
    text-decoration: underline;
    margin-top: 6px;
    display: block;
}

a.forgot-pwd-txt:hover {
    font-weight: 600;
}

.form-group {
    margin-bottom: 1rem;
}
.custom-checkbox {
    position: relative;
}
.custom-checkbox input {
    height: auto !important;
    width: 15px !important;
    display: inline-block !important;
    vertical-align: middle !important;
    margin-right: 5px;
}
label.error.admin-error-cstm {
    font-size: 12px;
}
.custom-error-outer label.error {
    font-size: 12px;
}
table#couponcodeList tr th:nth-child(6), table#couponcodeList tr td:nth-child(6) {
    min-width: 100px !important;
    max-width: 100px !important;
    width: 100px !important;
}
table#couponcodeList tr th:nth-child(5), table#couponcodeList tr td:nth-child(5) {
    min-width: 100px !important;
    max-width: 100px !important;
    width: 100px !important;
}
li.nav-item span.svg-cion-last {
    display: inline-block !important;
    vertical-align: middle;
    width: 35px;
    text-align: center;
}
li.nav-item.active span.svg-cion-last svg path {
    fill: #000;
}
.custom-icon-perc {
    position: relative;
}
.custom-icon-perc span.percentage-icon {
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 9px;
}
.custom-icon-perc {
    position: relative;
    border-radius: 35px;
}  
.custom-icon-perc span.percentage-icon svg {
    position: absolute;
    top: 14px;
    right: 15px;
    z-index: 0;
}
table#couponcodeList .switch-custom .slider {
    background: -webkit-linear-gradient(180deg, #E40000 0%, #A80606 100%);
    background: linear-gradient(180deg, #E40000 0%, #A80606 100%);
}
.custom-icon-perc span.percentage-icon {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
    text-align: right;
    left: 0;
    bottom: 0;
    height: 40px;
    background: #fff;
    border-radius: 30px;
}
.custom-icon-perc input#discount_percentage {
    background: transparent !important;
    padding-right: 35px;
}
.checkbox-outer {
  display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: #939fa4;
    text-transform: capitalize;
    vertical-align: middle;
}

/* Hide the browser's default checkbox */
.checkbox-outer input,  .checkbox-outer input.form-control[readonly]{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #FCE300;
    margin-top: -4px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-outer input:checked ~ .checkmark {
  background-color: #FCE300;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-outer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-outer .checkmark:after {
  left: 7px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid #333;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
div#couponcodeList_filter > label {
    position: relative;
    padding: 0px;
}
div#couponcodeList_filter > label input.form-control.form-control-sm {
    padding: 10px;
    height: 40px;
    width: 300px !important;
    border-radius: 20px;
    font-weight: 400;
    padding-left: 45px;
    border: none;
    font-size: 16px;
}
div#couponcodeList_filter > label:before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url(../../../media/images/yellow-search.png);
    top: 12px;
    left: 23px;
}
.no-bg-custom {
    background: transparent !important;
    border: none;
}
/********Media query**********/

@media (min-width: 768px) {
    .sidebar .nav-item .nav-link {
        padding: 0.65rem;
    }
    .sidebar .nav-item .nav-link span.fas {
        font-size: 0.85rem;
        margin-right: 0.25rem;
        min-width: 30px;
        display: inline-block;
        text-align: center;
    }
    .sidebar {
        width: 250px !important;
    }
}

@media (min-width: 576px) {
    .topbar .dropdown .dropdown-menu {
        margin-top: -14px;
    }
}

@media screen and (max-width: 767px) {
    .sidebar .nav-item .nav-link {
        text-align: center;
        padding: 10px;
        width: 100%;
    }
    .sidebar .nav-item .nav-link i,
    .sidebar .nav-item .nav-link span.fas {
        display: block;
        padding-bottom: 6px;
    }
    .p-left-custom {
        padding-left: 0;
    }
    .sidebar .nav-item {
        margin: 5px 0;
    }
}
.details span.detail-phone {
    display: block;
}
#deny_message {
    border: 0;
    background: #f9f9f9;
    outline: none;
    resize: none;
    margin: 20px 0 0 0;
    border-radius: 30px;
    height: 172px;
    width: 100%;
    padding: 20px;
}
#deny_message::placeholder {
    color: #939fa4;
    opacity: 1; /* Firefox */
}

#deny_message:-ms-input-placeholder {
    color: #939fa4;
}

#deny_message::-ms-input-placeholder {
    color: #939fa4;
}
div#timesharelist_wrapper .dataTables_scrollHeadInner {
    min-width: 100%;
}
div#BulkTimeshareList_wrapper .dataTables_scrollHeadInner {
    min-width: 100%;
}
.admin-accrodian-listing .card {
    border: none;
    border-radius: 20px !important;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    margin-bottom: 25px;
    background: #fff;
}
.admin-accrodian-listing .card-header button {
    position: relative;
    width: 100%;
    text-align: left;
    font-size: 24px;
    line-height: initial;
    padding: 25px;
    color: #000000;
    font-family: "fatfrank", sans-serif;
    outline: none !important;
    text-decoration: none;
    box-shadow: none !important;
    background: #FFFBD9;
}
.admin-accrodian-listing .card-header button.collapsed {
    background: #fff;
}
.admin-accrodian-listing .card-header {
    padding: 0;
    background: #FFFFFF;
    border: none;
}
.admin-accrodian-listing {
    margin-bottom: 200px;
}
.admin-accrodian-listing .card-header button span.fa-fw {
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -12px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.admin-accrodian-listing .card-header button.collapsed span.fa-fw {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
div#BulkTimeshareList_wrapper tr th:nth-child(1) {
    min-width: 180px !important;
    width: 180px !important;
}
div#BulkTimeshareList_wrapper tr th:nth-child(2) {
    min-width: 260px !important;
    width: 260px !important;
}
div#BulkTimeshareList_wrapper tr th:nth-child(3) {
    min-width: 205px !important;
    width: 205px !important;
}
div#BulkTimeshareList_wrapper tr th:nth-child(4), div#BulkTimeshareList_wrapper tr th:nth-child(5) {
    min-width: 125px !important;
    width: 125px !important;
}
div#BulkTimeshareList_wrapper tr th:nth-child(6) {
    min-width: 350px;
    width: 350px !important;
    text-align: left !important;
    opacity: 0;
}
div#timesharelist_wrapper tr th:nth-child(1) {
   min-width: 180px !important;
    width: 180px !important; 
}
div#timesharelist_wrapper tr th:nth-child(2) {
   min-width: 255px !important;
    width: 255px !important; 
}
div#timesharelist_wrapper tr th:nth-child(3) {
   min-width: 175px !important;
    width: 175px !important; 
}
div#timesharelist_wrapper tr th:nth-child(4) {
   min-width: 220px !important;
    width: 220px !important; 
}
div#timesharelist_wrapper tr th:nth-child(5) {
   min-width: 205px !important;
    width: 205px !important; 
}   
div#timesharelist_wrapper tr th:nth-child(6) {
   min-width: 125px !important;
    width: 125px !important; 
}
div#timesharelist_wrapper tr th:nth-child(7) {
    opacity: 0;
    width: 235px !important;
    min-width: 235px !important;
}
div#timesharelist_wrapper tr td a.btn.button-default-custom.btn-approve-custom {
    background: linear-gradient(
239.11deg
, #E60A4C 7.22%, #F9DC00 98.12%);
    font-size: 12px !important;
    font-family: "fatfrank", sans-serif !important;
    line-height: normal !important;
    vertical-align: middle !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
div#timesharelist_wrapper tr td a.btn.button-default-custom.btn-deny-custom{
    background: #E40046 !important;
    color: #fff !important;
    font-size: 12px !important;
    font-family: "fatfrank", sans-serif !important;
    line-height: normal !important;
    vertical-align: middle !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
div#BulkTimeshareList_wrapper tr td:nth-child(6) {
    text-align: left !important;
}
div#BulkTimeshareList_wrapper td.text-center.custom-completed-text a:first-child {
    background: linear-gradient(239.11deg, #E60A4C 7.22%, #F9DC00 98.12%);
    font-size: 12px !important;
    font-family: "fatfrank", sans-serif !important;
    line-height: normal !important;
    vertical-align: middle !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
div#BulkTimeshareList_wrapper td.text-center.custom-completed-text a:nth-child(2) {
    background: #E40046;
    font-size: 12px !important;
    font-family: "fatfrank", sans-serif !important;
    line-height: normal !important;
    vertical-align: middle !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
div#BulkTimeshareList_wrapper td.text-center.custom-completed-text a:nth-child(3) {
    font-size: 11px !important;
    font-family: "fatfrank", sans-serif !important;
    line-height: normal !important;
    vertical-align: middle !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    color: #979797 !important;
    border: 1px solid #979797 !important;
    text-transform: uppercase;
}
div#BulkTimeshareList_wrapper tr td, div#timesharelist_wrapper tr td {
    font-size: 14px;
    line-height: normal;
    color: #000000;
    font-weight: 400;
}
div#BulkTimeshareList_wrapper tr td a.custom-link-blue, div#timesharelist_wrapper tr td a.custom-link-blue {
    color: #000000 !important;
    text-decoration: none;
}
@media (min-width: 576px) {
    #reasonDecline .modal-dialog {
        max-width: 600px !important;
        width: 100% !important;
        margin: 1.75rem auto;
        height: 402px;
    }
}

.back_uploaded_image {
    width: 150px;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    border: 4px solid transparent;
}
.back_uploaded_image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    object-position: center center;
}
.back_uploaded_image:nth-child(3n + 1) {
    clear: both;
}

img.img-responsive:hover{
    border: 1px solid #1000ffd1 !important;
}