/****** Ankur *********/
label.error.admin-error-cstm {
    margin-top: -20px;
    display: block;
}
.details span.detail-phone {display: block;}

.property-list-wrapper {display: flex; justify-content: flex-start; align-items: center;}
.propertylist-image img {width: 70px; height: 50px; border-radius: 8px;-webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px;}
.propertylist-info { width: calc(100% - 70px); padding-left: 10px;}
.property-title {font-size: 16px; font-weight: 700; color: #000; margin-bottom: 5px;  white-space: nowrap; overflow: hidden;   text-overflow: ellipsis;}
.property-link a{ font-size: 14px; font-weight: 600; color :#E40246;  transition: all 0.5s ease;  -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; }
.property-link a:hover { text-decoration: underline}
 .property-link a i { font-size: 12px; margin-left:15px;}
 .property-user-wrapper { display: flex; justify-content: flex-start; align-items: center; height: 100%;}
 .property-user-img  img { width: 86px; height: 86px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; }
 .property-user-info { width: calc(100% - 86px); padding-left: 15px;}
 .property-user-info h5 {font-family: FatFrank; font-size: 18px; font-weight: 800; color: #000; margin-bottom: 5px;}
 .property-user-email { font-size: 14px; color: #000; font-weight: 500; display: flex; flex-wrap: wrap; margin-bottom: 5px;}
 .property-user-email a {font-size: 14px; color: #000; font-weight: 500; }
 .property-label { font-size: 14px; color: #9B9B9B; margin-bottom: 5px; }


 .object-fit_cover { object-fit: cover }

 .booking-table tbody tr.even.details,  .booking-table tbody tr.odd.details {background-color: #FFFBD9 !important;color: #000;border: 1px solid #FCE302 !important;}
 .booking-table tbody tr.even.details .action-tool .btn-yellow.btn-yellowicon, .booking-table tbody tr.odd.details .action-tool .btn-yellow.btn-yellowicon{background-color: #000 !important;}
 .booking-table tbody tr.even.details .action-tool .btn-yellow.btn-yellowicon i, .booking-table tbody tr.odd.details .action-tool .btn-yellow.btn-yellowicon i{color: #FCE302  !important;}
 .action-tool { display: flex; align-items: center; justify-content: center;}
 .action-tool  label { margin-bottom: 0;}
 .action-tool .switch-btn { line-height: 0; }
 .action-tool .btn-yellow { padding: 6px 12px; font-size: 12px; font-weight: 600;}
 .action-tool .btn-yellow.btn-yellowicon { width: 30px; height: 30px; padding: 5px; display: flex; align-items: center; justify-content: center;}
 .action-tool .btn-yellow.btn-yellowicon i { font-size: 14px;}
 .switch-custom {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px
  }
  
  .switch-custom input {display:none;}
  
  .switch-custom .slider {
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
      background: #5f5454;  
      background: -moz-linear-gradient(top,  #fa6363 0%, #ea1515 100%);  
      background: -webkit-linear-gradient(top,  #fa6363 0%,#ea1515 100%);  
      background: linear-gradient(to bottom,  #fa6363 0%,#ea1515 100%);  
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa6363', endColorstr='#ea1515',GradientType=0 );  
  }
  
  .switch-custom .slider:before {
    position: absolute;
    z-index: 2;
    content: "";
    height: 25px;
    width: 26px;
    left: 3px;
    bottom: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
    -webkit-transition: .4s;
    transition: all 0.4s ease-in-out;
  }
  .switch-custom .slider:after {
    position: absolute;
    left: 0;
    z-index: 1;
    content: "ON";
    font-size: 11px;
    font-weight: 600;
    text-align: left !important;
    line-height: 30px;
    padding-left: 0;
    width: 60px;
    color: #fff;
    height: 30px;
    border-radius: 5px;
      background: #09e400;  
      background: -moz-linear-gradient(top,  #09e400 0%, #32a806 100%);  
      background: -webkit-linear-gradient(top,  #09e400 0%,#32a806 100%);  
      background: linear-gradient(to bottom,  #09e400 0%,#32a806 100%);  
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09e400', endColorstr='#32a806',GradientType=0 );  
    -webkit-transform: translateX(-160px);
    -ms-transform: translateX(-160px);
    transform: translateX(-60px);
    -moz-transform: translateX(-60px);
    -o-transform: translateX(-60px);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
  
.switch-custom input:checked + .slider:after {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    padding-left: 8px;
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
}
  
.switch-custom input:checked + .slider:before {
    background-color: #fff;
  }
  
  .switch-custom input:checked + .slider:before {
    transform: translateX(28px);
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    -moz-transform: translateX(28px);
    -o-transform: translateX(28px);
}
  
  /* Rounded sliders */
  .switch-custom .slider.round {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
  
.switch-custom .slider.round:before {
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.switch-custom .absolute-no {
    position: absolute;
    left: 0;
    color: #fff;
    text-align: right !important;
    font-size: 11px;
    font-weight: 600;
    width: calc(100% - 5px);
    height: 30px;
    line-height: 30px;
    cursor: pointer;
  }


 /** Button */
 .btn-black {
    background-color: #000;
    border-color: #000;
    color: #FCE302;
}

.btn-black:hover {
    color: #FCE302;
    background-color: #242424;
    border-color: #242424;
  }
  
  .btn-black:focus, .btn-black.focus {
    color: #FCE302;
    background-color: #242424;
    border-color: #242424;
    box-shadow: none;
  }
  
  .btn-black.disabled, .btn-black:disabled {
    color: #FCE302;
    background-color: #242424;
    border-color: #242424;
  }
  
  .btn-black:not(:disabled):not(.disabled):active, .btn-black:not(:disabled):not(.disabled).active,
  .show > .btn-black.dropdown-toggle {
    color: #FCE302;
    background-color: #242424;
    border-color: #242424;
  }
  
  .btn-black:not(:disabled):not(.disabled):active:focus, .btn-black:not(:disabled):not(.disabled).active:focus,
  .show > .btn-black.dropdown-toggle:focus {
    box-shadow: none;
  }

  
 .btn-yellow {
  background-color: #FCE302;
  border-color: #FCE302;
  color: #000;
}

.btn-yellow:hover {
  color: #000;
  background-color: #FCE302;
  border-color: #FCE302;
}

.btn-yellow:focus, .btn-black.focus {
  color: #000;
  background-color: #FCE302;
  border-color: #FCE302;
  box-shadow: none;
}

.btn-yellow.disabled, .btn-yellow:disabled {
  color: #000;
  background-color: #FCE302;
  border-color: #FCE302;
}

.btn-yellow:not(:disabled):not(.disabled):active, .btn-yellow:not(:disabled):not(.disabled).active,
.show > .btn-yellow.dropdown-toggle {
  color: #000;
  background-color: #FCE302;
  border-color: #FCE302;
}

.btn-yellow:not(:disabled):not(.disabled):active:focus, .btn-yellow:not(:disabled):not(.disabled).active:focus,
.show > .btn-yellow.dropdown-toggle:focus {
  box-shadow: none;
}
div#paused .modal-dialog {
    max-width: 600px;
}
div#paused .modal-dialog h1 {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px !important;
    margin: 0;
}
div#paused .modal-dialog h1:after {
    content: "";
    width: 5px;
    display: inline-block;
}