.checkbox-btn input:checked ~ .bg-ac {
    width: 30px; height: 30px;
    background: url('../media/images/css_sprites.png') -10px -1574px;
}
.bg-ac {
    width: 30px; height: 30px;
    background: url('../media/images/css_sprites.png') -10px -1624px;
}
.checkbox-btn input:checked ~ .bg-balcony {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -10px;
}
.bg-balcony {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -56px;
}
.checkbox-btn input:checked ~ .bg-cable-tv {
    width: 30px; height: 30px;
    background: url('../media/images/css_sprites.png') -10px -1674px;
}
.bg-cable-tv {
    width: 30px; height: 30px;
    background: url('../media/images/css_sprites.png') -10px -1724px;
}
.checkbox-btn input:checked ~ .bg-covered-parking {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -102px;
}
.bg-covered-parking {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -148px;
}
.checkbox-btn input:checked ~ .bg-dishwasher {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -194px;
}
.bg-dishwasher {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -240px;
}
.checkbox-btn input:checked ~ .bg-fire-extinguisher {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -286px;
}
.bg-fire-extinguisher {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -332px;
}
.checkbox-btn input:checked ~ .bg-fireplace {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -378px;
}
.bg-fireplace {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -424px;
}
.checkbox-btn input:checked ~ .bg-free-parking {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -470px;
}
.bg-free-parking {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -516px;
}
.checkbox-btn input:checked ~ .bg-gated-access {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -562px;
}
.bg-gated-access {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -608px;
}
.checkbox-btn input:checked ~ .bg-gym {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -649px;
}
.bg-gym {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -695px;
}
.checkbox-btn input:checked ~ .bg-heating {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -746px;
}
.bg-heating {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -792px;
}
.checkbox-btn input:checked ~ .bg-hot-tub {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -838px;
}
.bg-hot-tub {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -884px;
}
.checkbox-btn input:checked ~ .bg-in-unit-washer-dryer {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -930px;
}
.bg-in-unit-washer-dryer {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -976px;
}
.checkbox-btn input:checked ~ .bg-iron {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -1022px;
}
.bg-iron {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -1068px;
}
.checkbox-btn input:checked ~ .bg-kid-friendly {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -1114px;
}
.bg-kid-friendly {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -1160px;
}
.checkbox-btn input:checked ~ .bg-no-smoking {
    width: 30px; height: 30px;
    background: url('../media/images/css_sprites.png') -10px -1774px;
}
.bg-no-smoking {
    width: 30px; height: 30px;
    background: url('../media/images/css_sprites.png') -10px -1824px;
}
.checkbox-btn input:checked ~ .bg-pet-friendly {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -1206px;
}
.bg-pet-friendly {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -1252px;
}
.checkbox-btn input:checked ~ .bg-public-transport {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -1298px;
}
.bg-public-transport {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -1344px;
}
.checkbox-btn input:checked ~ .bg-smoke-alarm {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -1390px;
}
.bg-smoke-alarm {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -1436px;
}
.checkbox-btn input:checked ~ .bg-tv {
    width: 26px; height: 31px;
    background: url('../media/images/css_sprites.png') -10px -1874px;
}
.bg-tv {
    width: 26px; height: 31px;
    background: url('../media/images/css_sprites.png') -10px -1925px;
}
.checkbox-btn input:checked ~ .bg-wifi {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -1482px;
}
.bg-wifi {
    width: 31px; height: 26px;
    background: url('../media/images/css_sprites.png') -10px -1528px;
}
.amenity {
    width: 33px !important;
    height: 33px !important;
    display: inline-block;
    vertical-align: middle;
}
.amenity.active{
    
}
.checkbox-btn span.amenity_name {
    display: inline-block;
    vertical-align: middle;
}