.alert {
    position: relative;
    padding: 0.3rem 2.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.42rem;
}
.alert.alert-danger {
    font-size: 14px;
}
.alert.alert-light-danger,
.alert-text {
    text-align: left;
}
.row-custom .right-input .col-6.col-md-4 img {
    width: 100%;
    margin: 5px 0px -15px 0px;
}
#loader {
    background: rgba(2555, 255, 255, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    opacity: 1;
}
#loader img {
    width: 150px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-right: -75px;
    animation: none;
}
label.error,
label.custom-error {
    width: 100%;
    clear: both;
    color: red;
    font-size: 15px;
    padding: 5px 0 0 0;
    text-align: left;
}
label.custom-error {
    margin-bottom: 7px !important;
}

#login_popup .login-container input[type="submit"],
#reg_popup .login-container input[type="submit"] {
    font-size: 25px !important;
    font-family: "Open Sans" !important;
    font-weight: 500;
    text-transform: capitalize;
    width: 100%;
    margin-top: 9px;
    height: 80px;
    border-radius: 38.5px;
    background: #e50046;
    border: none !important;
    color: #fff !important;
    line-height: normal;
}

.btn.login-with-google-btn {
    line-height: 50px;
}
.btn.login-with-fb-btn {
    line-height: 50px;
}
div.recaptcha {
    text-align: center !important;
    margin: 0 auto;
    width: 304px;
}

.g-recaptcha {
    display: inline-block;
}
button.activation {
    margin: -20px 0 0 0;
    opacity: 0.3;
}
span.activationClose {
    font-size: 40px;
    margin: 0 -11px 0 0;
    padding: 0px 0 0px 0;
}
span.tripperResend {
    font-size: 12px;
    position: relative !important;
    display: block;
    padding-top: 12px;
    padding-bottom: 15px;
}
.tripperDashboardBtn {
    border-radius: 50px;
    padding: 7px !important;
    background: #1bc5bd !important;
    border: 1px solid #1bc5bd !important;
    margin-left: 20px;
}

.tripperDashboarderrorBtn {
    border-radius: 50px;
    padding: 7px !important;
    background: #f64e60 !important;
    border: 1px solid #f64e60 !important;
    margin-left: 20px;
}
.field-icon {
    float: right !important;
    margin-right: 34px;
    margin-top: -40px;
    position: relative !important;
    z-index: 2;
}
.rentalPassword {
    position: absolute !important;
    color: #939fa4 !important;
    background: #fff;
    z-index: 9;
    top: 65px;
    right: -23px;
}
#edit_email,
#edit_email:hover {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7) !important;
    text-decoration: underline !important;
    margin-top: 7px;
    margin-bottom: 7px;
    display: inline-block;
    width: 100%;
}
.resendOtpRental,
a.resendOtpRental:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
    font-size: 14px;
}
.loginPopUp,
.loginPopUp:hover {
    cursor: pointer;
    color: #f64e60;
    font-size: 13px !important;
    text-decoration: underline !important;
    font-weight: bold !important;
    padding: 0 !important;
    background: none !important;
}
.tripper-container #tripperSignUp input::placeholder {
    color: rgba(0, 0, 0, 0.4) !important;
}
.otpButton {
    margin-top: 15px;
}
.passwordError {
    display: block;
    width: 100%;
}
div#otpError .error {
    text-align: center;
}
.form-class-cstm.disabled {
    background: #f5f2f2 !important;
}
.tripperCode.regis-code input.reg-code-digit,
.tripperCode.regis-code input.reg-code-digit:focus {
    width: 50px !important;
    margin-left: 0;
    margin-right: 10px;
    border: 0;
    border-radius: 10px;
    font-size: 36px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    color: #5c6163;
    font-weight: 600;
    border: 1px solid #868886 !important;
}
.tripperCustomOtp {
    font-size: 12px;
    text-align: center;
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
}
.swal2-actions.swal2-loading .swal2-styled.swal2-confirm {
    box-sizing: border-box;
    width: 2.5em;
    height: 2.5em;
    margin: 0.46875em;
    padding: 0;
    -webkit-animation: swal2-rotate-loading 1.5s linear 0s infinite normal;
    animation: swal2-rotate-loading 1.5s linear 0s infinite normal;
    border: 0.25em solid transparent !important;
    border-radius: 100%;
    border-color: transparent;
    background-color: transparent !important;
    color: transparent !important;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-left-color: rgb(48, 133, 214) !important;
    border-right-color: rgb(48, 133, 214) !important;
}
#propertyBooking_wrapper {
    width: 100% !important;
}
table.dataTable.no-footer,
#propertyBooking table td {
    border: none !important;
}
p.charlength {
    float: right;
    font-weight: normal !important;
    padding: 0 !important;
    font-style: italic;
}
#nameListingErrorLabel {
    bottom: 0 !important;
}
.checkbox-btn svg {
    height: 25px;
    width: 30px;
    margin-right: 5px;
}
.checkbox-btn input:checked ~ svg g,
.checkbox-btn input:checked ~ svg {
    fill: #f80e41;
}
a.add-more-unavailibility {
    clear: both;
    position: relative;
    padding-top: 22px;
    display: inline-block;
    font-size: 18px;
    color: #e40246;
    font-weight: 800;
    text-decoration: none;
    font-size: 15px !important;
}

..custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}
.right-input.custom-select {
    height: 50px;
    border: none;
    padding: 0;
}
.select-selected {
    background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: url(../media/images/down-arrow.png);
    top: 12px;
    right: 30px;
    width: 25px;
    height: 25px;
    border: none;
    background-position: center;
}
/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: #3d3d3d;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    padding-top: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding-bottom: 10px;
    background: #fff;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgb(206 210 221 / 0.35);
}
.select-selected {
    height: 000;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    padding: 13px 35px !important;
    color: #3d3d3d;
    border: 1px solid #c5cad8;
    border-radius: 7px;
    outline: none;
    text-decoration: none;
    line-height: 22px;
    resize: none;
    height: 50px;
    padding-right: 65px !important;
    -webkit-appearance: none;
    background-color: #fff;
    height: auto;
}
.select-selected.select-arrow-active:after {
    content: url(../media/images/top-arrow.png);
    right: 28px;
}
.select-selected:focus,
.select-selected.select-arrow-active {
    border-color: #fce300;
}
.select-items div,
.select-selected {
    color: #3d3d3d;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    padding: 8px;
    padding-left: 35px;
}

.card .card_icon,
.card .status_icon {
    /* For a more robust cross-browser implementation, see http://bit.ly/aqZnl3 */
    display: inline-block;
    vertical-align: bottom;
    height: 23px;
    width: 27px;
}

/* --- Card Icon --- */
.card .card_icon {
    background: transparent url("../media/credit_card_sprites.png") no-repeat
        30px 0;
    position: absolute;
    left: 350px !important;
    top: 12px;
}

/* Need to support IE6? These four rules won't work, so rewrite 'em. */
.card .card_icon.visa {
    background-position: 0 0 !important;
}
.card .card_icon.mastercard {
    background-position: -30px 0 !important;
}
.card .card_icon.amex {
    background-position: -60px 0 !important;
}
.card .card_icon.discover {
    background-position: -90px 0 !important;
}

/* --- Card Status --- */
.card .status_icon {
    background: transparent url("../media/credit_card_sprites.png") no-repeat
        33px 0;
}
.card .invalid {
    color: #ad3333;
    background: #f8e7e7;
}
/* .card .valid                { color: #33AD33; background: #e7f8e7; } */
.card .invalid .status_icon {
    background-position: 3px 0 !important;
}
.card .valid .status_icon {
    background-position: -27px 0 !important;
}
/* Chrome, Safari, Edge, Opera */
#last_four::-webkit-outer-spin-button,
#last_four::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#last_four {
    -moz-appearance: textfield;
}
.row-custom .right-input .radio-btn b span {
    width: 40px;
    display: inline-block;
    vertical-align: top;
    margin-top: -3px;
}

.row-custom .right-input .radio-btn input:checked b span svg,
.row-custom .right-input .radio-btn input:checked b span svg g,
.row-custom .right-input .radio-btn input:checked ~ b span svg path {
    fill: #f80e41 !important;
    color: #f80e41;
}

div#instant_booking_success_modal .modal-dialog {
    max-width: 800px;
    width: 100%;
}
div#instant_booking_success_modal .modal-dialog {
    max-width: 800px;
    width: 100%;
}
div#instant_booking_success_modal .modal-dialog .modal-content {
    padding: 50px 20px 70px 20px;
    border-radius: 8px;
    border: none;
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
}
div#instant_booking_success_modal .modal-dialog .modal-content h4 {
    color: #3d3d3d;
    font-family: "fatfrank", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}
div#instant_booking_success_modal .modal-dialog .modal-content h4 {
    color: #3d3d3d;
    font-family: "fatfrank", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}
div#instant_booking_success_modal .modal-dialog .modal-content h5 {
    font-size: 17px;
    line-height: normal;
    color: #3d3d3d;
    font-weight: 600;
    margin-bottom: 40px;
}
.dashboard-btn,
a.dashboard-btn:hover {
    width: 221px;
    display: inline-block;
    border: none;
    background-image: linear-gradient(50deg, #fff 0%, #fce300 20%, #f80e41 77%);
    height: 52px;
    font-size: 17px;
    color: #fff !important;
    border-radius: 35px;
    font-family: "fatfrank", sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    padding: 15px;
    text-align: center;
}
.fa-star {
    color: #d4d403;
}
i.fa.fa-star.no-fill {
    color: grey;
}
div#listingtabcontent table tr td.notFound {
    border-bottom: none;
    padding-bottom: 7px;
    padding-top: 23px;
}
#delete-listing .modal-header {
    text-align: center;
    width: 100%;
    font-weight: bold;
    border-bottom: none !important;
}
#delete-listing .modal-header h4 {
    text-align: center !important;
    width: 100% !important;
    font-weight: bold;
}
span.black-label-btn {
    display: inline-block;
    border-radius: 38px;
    background: #f4f0f0;
    height: 43px;
    font-size: 14px;
    font-weight: 700;
    color: grey;
    line-height: 39px;
    padding: 0 40px;
    border: 1px solid #d7d7d7;
}
span.orange-label-btn {
    display: inline-block;
    border-radius: 38px;
    background: #fff4eb;
    height: 43px;
    font-size: 14px;
    font-weight: 700;
    color: #fc9202;
    line-height: 39px;
    padding: 0 40px;
    border: 2px solid transparent;
}
span.red-label-btn {
    display: inline-block;
    border-radius: 38px;
    background: #ffeded;
    height: 43px;
    font-size: 14px;
    font-weight: 700;
    color: #e80d0d;
    line-height: 39px;
    padding: 0 40px;
    border: 2px solid transparent;
}
span.gray-label-btn {
    display: inline-block;
    border-radius: 38px;
    background: transparent;
    height: 43px;
    font-size: 14px;
    font-weight: 700;
    color: #979797;
    line-height: 39px;
    padding: 0 40px;
    border: 2px solid #979797;
}
table.table tr td.status {
    text-align: center;
}
#confirmationIdErr label {
    color: red;
}
.availabelDtsErr,
.availabelDtsErrOffer {
    color: red;
    font-size: 13px;
    max-width: 500px;
    margin: auto;
    width: 100%;
    display: block;
}
.property-detail-content .right-content .guest-info {
    margin-bottom: 16px;
}
.property-detail-content .right-content .pricing-table-property {
    margin: 30px 0 0 0 !important;
}
.exp_date {
    display: block;
}
.card_no {
    font-size: 16px;
    font-weight: 800;
    color: #000000;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
button.play-video {
    border: none;
    border-radius: 4px;
    font-size: 15px;
    color: #3d3d3d;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.75);
    z-index: 5;
    position: absolute;
    top: 25px;
    width: 24px;
    height: 25px;
    line-height: 15px;
    text-align: center;
    margin: 0px 5px 5px 8px;
}
button.play-video i {
    font-size: 15px;
    color: #3d3d3d;
}
.customVideo video {
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}
.customVideo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    z-index: 999;
}
.text-muted {
    padding: 10px;
    border-radius: 2em;
    font-weight: bold;
    margin-right: 20px;
    vertical-align: middle;
}
.text-uploading {
    background: #ecde61;
    padding: 10px;
    border-radius: 2em;
    font-weight: bold;
    margin-right: 20px;
    vertical-align: middle;
}
.text-success {
    background: #caf8ca;
    padding: 10px;
    border-radius: 2em;
    font-weight: bold;
    margin-right: 20px;
    vertical-align: middle;
}
.progressStatus {
    padding: 10px;
    border-radius: 2em;
    font-weight: bold;
}
.uploaded-image.invalid-image:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}
.uploaded-image.invalid-image:after {
    content: "";
    background-image: url("../../media/images/fieimage.png");
    left: 0;
    top: 0;
    z-index: 9;
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 65%;
    background-size: 70%;
}
.rental-profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.tripper-login-btn span.text {
    color: #fff;
    font-family: "fatfrank", sans-serif;
    font-size: 13px;
    width: 30px;
    display: inline-block;
    border: 1px solid;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-left: 15px;
}

.bulk-upload-text {
    display: none;
}
div#listingtabcontent span.icon {
    vertical-align: middle;
    height: 25px;
    display: inline-block;
    margin-right: 7px;
}
div#listingtabcontent span.title {
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    font-weight: 700;
}
.search-listings {
    border: none;
    height: 44px;
    font-size: 16px;
    outline: none;
    border-radius: 7px;
    padding: 9px 15px;
    width: 300px;
}
.booking-address.st-add span::before {
    display: none;
}

.custom_readonly {
    pointer-events: none;
}
.responsive-menu-cstm {
    position: absolute;
    top: 87px;
    left: 0;
    width: 100%;
    padding: 15px 15px;
    background: #fff;
    box-shadow: 4px 5px 11px rgb(0 0 0 / 20%);
    display: none;
}
.responsive-menu-cstm a {
    display: inline-block;
    font-size: 16px;
    line-height: normal;
    margin-bottom: 10px; margin-top:10px;
    font-family: "fatfrank", sans-serif; color:#3d3d3d;
}
.navbar-light .navbar-toggler{float:left; margin-right:15px; margin-top: 11px;} 