.dataTables_wrapper .dataTable {
    table-layout: fixed;
}
table.custom-data-table tr td:first-child, table.custom-data-table tr th:first-child {
    max-width: 40px !important;
    padding: 0 !important;
    min-width: 40px !important;
    width: 40px !important;
}
table.custom-data-table tr td:nth-child(2), table.custom-data-table tr th:nth-child(2)  {
    min-width: 150px !important;
    max-width: 150px !important;
    width: 150px !important;
    vertical-align: middle !important;
}
table.custom-data-table tr td:nth-child(3), table.custom-data-table tr th:nth-child(3) {
    min-width: 150px !important;
    max-width: 150px !important;
    width: 150px !important;
    vertical-align: middle !important;
}
table.custom-data-table tr td:nth-child(4), table.custom-data-table tr th:nth-child(4) {
    min-width: 160px !important;
    max-width: 160px !important;
    width: 160px !important;
    vertical-align: middle !important;
}
table.custom-data-table tr td:nth-child(5), table.custom-data-table tr th:nth-child(5) {
    min-width: 160px !important;
    max-width: 160px !important;
    width: 160px !important;
    vertical-align: middle !important;
}
table.custom-data-table tr td:nth-child(6), table.custom-data-table tr th:nth-child(6) {
    min-width: 250px !important;
    max-width: 250px !important;
    width: 250px !important;
    vertical-align: middle !important;
}
table.custom-data-table tr td:nth-child(7), table.custom-data-table tr th:nth-child(7) {
    min-width: 150px !important;
    max-width: 150px !important;
    width: 150px !important;
    vertical-align: middle !important;
}

table.custom-data-table tr td:nth-child(8), table.custom-data-table tr th:nth-child(8) {
    min-width: 160px !important;
    max-width: 160px !important;
    width: 160px !important;
    vertical-align: middle !important;
}
 

a.booking-icons:hover svg path, a.booking-icons:hover svg {
    fill: #3d3d3d;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    background: red !important;
    color: #fff !important;
    border: none !important;
    border-radius: 7px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: red !important;
    color: #fff !important;
    border: none !important;
    border-radius: 7px !important;
}

.custom-link-blue {
  color: #3D3D3D;
}
.custom-link-blue:hover {
    color: #3d3d3d;
}
td.detail-control, td.details-control {
    background: url(../media/images/details_open.png) no-repeat center center;
    cursor: pointer;
}
tr.shown td.detail-control, tr.shown td.details-control {
    background: url(../media/images/details_close.png) no-repeat center center;
}

.paymenthistory-wrapper div#listingtabcontent table.table tr td:first-child {
    min-width: 520px;
}
.paymenthistory-wrapper div#listingtabcontent table.table tr td:nth-child(2) {
    min-width: 180px;
}
.paymenthistory-wrapper div#listingtabcontent table.table tr td:nth-child(3){
    min-width: 190px;
}
.paymenthistory-wrapper div#listingtabcontent table.table tr td:nth-child(4) {
    min-width:190px;
}  
.paymenthistory-wrapper div#listingtabcontent table.table tr td:nth-child(5) {
    min-width:200px;
}  
.a.booking-icons {
    line-height: 38px;
}

.paymenthistory-wrapper div#listingtabcontent .table.mycustomdata-table thead tr th { 
    font-size: 16px;
    font-weight: 700;
    color: #3d3d3d;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.paymenthistory-wrapper div#listingtabcontent .table.mycustomdata-table tbody tr td {
    font-size: 19px;
    font-weight: 800;
    color: #3d3d3d;
    vertical-align: middle;
    padding-left: 40px !important;
}
.mycustomdata-table tbody tr td span.subtitle {
    font-size: 16px;
    font-weight: 700;
    color: #B7BACA;
    display: flex;
    padding-top: 15px;
}
.mycustomdata-table .table-actiontool a.click-icon:first-child { margin-left: 0; }
 
 
.account-link { padding: 30px 40px}
.account-link a {
    font-size: 19px;
    font-weight: 700;
    color: #B7BACA;
}
.account-link a:hover {
    color: #3d3d3d;
}
.pd-60 { padding: 0 60px;}

.date-atcion {
    margin-bottom: 40px;
}
.payment-modal.cmn-popup .modal-dialog .form-group {
    margin-bottom: 40px;
}


.switch {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}
.switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
}
.switch label {
    margin: 0;
}
.switch.cust-switch label {
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch input:empty {
    margin-left: -999px;
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    box-sizing: border-box;
    padding: 0;
}

.switch input:empty~span {
    display: inline-block;
    position: relative;
    float: left;
    width: 1px;
    text-indent: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 7px 0;
    height: 14px;
    width: 29px;
}

.switch input:empty~span:after, .switch input:empty~span:before {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
.switch input:empty ~ span:after, .switch input:empty ~ span:before {
    width: 29px;
    border-radius: 15px;
}
 
.switch.cust-switch input:checked ~ span:before {
    background: linear-gradient(184.31deg, #F38B1B -147.61%, #FCE300 245.39%);
}
.switch input:empty~span:after {
    height: 24px;
    width: 24px;
    top: 3px;
    bottom: 3px;
    margin-left: 3px;
    font-size: .65em;
    text-align: center;
    vertical-align: middle;
}
.switch input:empty ~ span:after {
    height: 10px;
    width: 10px;
    opacity: 1;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
    top: 2px;
}
.switch input:checked ~ span:after {
    background-color: #fff;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
    margin-left: 16px;
}
.switch.cust-switch label em.switch-txt {
    font-size: 18px;
    font-weight: 800;
    color: #2E3347;
    font-style: normal;
    
}
h3.sub-heading {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0;
    font-size: 20px;
    font-family: "fatfrank", sans-serif;
    letter-spacing: 0.5px;
    color: #000000;
    
}
.refund-wrap {
    margin: 50px 0;
}
.refund-wrap ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.refund-wrap ul li{
    display: flex;
    flex-direction: column;
}
.refund-wrap ul li:first-child{
    padding-right: 25px;
 }
 .refund-wrap ul li:last-child{
    padding-left: 25px;
 }
.refund-subtitle {
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
.refund-title {
    color: #3D3D3D;
    font-size: 20px;
    font-weight: 800;
}


@media (max-width: 575.98px) {
.cmn-popup .modal-dialog-centered {
    max-width: 100%;
    width: auto;
    
}
.pd-60 { padding:  0 20px;}
}