@media ( max-width: 1650px) {
	header ul.desktop-menu li a { font-size: 16px;padding: 35px 10px 40px 10px;}
}
@media ( max-width: 1550px ) {
	.custom-container { padding: 0 70px; }
	.list-white-bg, .center-container-inner { padding: 50px 30px;}
	ul#ListingTab li a { font-size: 15px; padding-left: 50px;}
	ul#ListingTab li a { padding-bottom: 50px;}
	.row-custom .left-label label { font-size: 16px;}
	.bedroom-outer-container p { font-size: 15px;}
	.row-custom { margin-bottom: 50px;}
	.listing-tabs-current li.nav-item a { font-size: 17px;}
}
@media (max-width: 1499px) {
	header ul.desktop-menu li{padding: 0 5px;}
}
@media ( max-width: 1399px ) {
	.input-group.date input{ padding-left: 60px;}
	.row-custom .right-input { width: 500px;}
	.row-custom .left-label {  width: calc(100% - 505px);}
	.row-custom .right-input input, .row-custom .right-input select, .row-custom .right-input textarea { font-size: 15px;}
	.row-custom .left-label label { font-size: 16px;}
	.row-custom { margin-bottom: 50px;}
	.row-custom .right-input p { font-size: 15px; line-height: 22px;}
	.row-custom .right-input .radio-btn { font-size: 15px; line-height: 22px;}
	.checkbox-btn { font-size: 15px !important; line-height: 22px !important}
	a.add-more-availibility { font-size: 15px;}
}
@media ( max-width: 1199px ) {
	header ul.desktop-menu li a { font-size: 14px;padding: 30px 10px 34px 10px;}
}
@media ( max-width: 991px ) {
	.md-display-none { display: none;}
	header { padding: 15px 0;}
	.header-user-info .responsive-menu { display: inline-block;}
	.custom-container { padding: 0 15px;}
	.responsive-menu-show {position: fixed;z-index: 999;height: 100vh;width: 280px;left: -300px;top: 0;background: #fff;max-width: 280px;display: block; padding-top: 70px;}
	.responsive-menu-show.active { left: 0; }
	header ul.desktop-menu li { display: block; text-align: left;}
	header ul.desktop-menu li a { padding: 15px;}
	.center-container { height: auto;}
	.left-listing-progress .list-white-bg { padding-bottom: 50px;}
	div#datetimepicker14 .bootstrap-datetimepicker-widget, div#datetimepicker15 .bootstrap-datetimepicker-widget,
	div#datetimepicker16 .bootstrap-datetimepicker-widget, div#datetimepicker17 .bootstrap-datetimepicker-widget {
		-webkit-transform: translate(0, 0);
	    -moz-transform: translate(0, 0);
	    -o-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	    transform: translate(0, 0);
	}
	.add-new-listing { position: relative; left:0; top: 0; margin-bottom: 20px; }
}
@media ( max-width: 767px ) {
	.dm-uploader { height: 220px; padding: 50px 15px !important;}
	.setting-outer-box { padding: 20px;}
	.input-group.date input { text-align: center;}
	.offer-box { height: auto;}
	.custom-accordian .accordian-header h5 span {float: none;width: 100%; text-align: center;margin-top: 15px;display: block;}
	.custom-accordian .accordian-header { padding: 20px;}
	.cmn-popup .modal-header button span { right: 10px;}
	.row-custom .left-label { width: 100%; padding: 0 0 15px 0;}
	.row-custom .right-input { width: 100%;}
	.list-white-bg, .center-container-inner { padding: 50px 15px;}
	.left-listing-progress { margin-bottom: 25px;}
	.row-custom .right-input input, .row-custom .right-input select, .row-custom .right-input textarea { padding: 10px 15px;}
	.row-custom { margin-bottom: 25px;	}
	.listing-footer-btns button#nextBtn { font-size: 14px; width: 170px; height: 50px;}
	.listing-footer-btns button#prevBtn { width: 70px; font-size: 17px;}
	.listing-footer-btns button#prevBtn i { padding-right: 5px;}
	.row-custom .right-input button.red-small-btn {display: block; margin: 20px auto 20px auto;}
	.bedroom-outer-container { padding: 10px;}
	.bedroom-outer-container p{ font-size: 14px;}
	.bedroom-row { margin: 0;}
	div#listingtabcontent img {
        max-width: 100%;
    }
    div#listingtabcontent table.table tr td:first-child {
         width: 100%;
        min-width: 139px;
        max-width: 100px;
    }
    div#listingtabcontent table h4 { font-size: 15px; line-height: 25px;}
    div#listingtabcontent table h5 { font-size: 12px; line-height: 18px;}
    div#listingtabcontent table p.location, div#listingtabcontent table p.review,
    div#listingtabcontent table.table tr td p.published-on,div#listingtabcontent table.table tr td p.current-hot-deals
     { font-size: 12px; line-height: 18px;}
    div#listingtabcontent table.table tr td:nth-child(2) {min-width: 250px; }
    a.red-btn { width: 180px; font-size: 12px; padding: 9px;}
    div#listingtabcontent table.table tr td:nth-child(3) a.red-btn { margin-bottom: 60px;}
    div#listingtabcontent table.table tr td:nth-child(3) { min-width: 230px;}
    .dm-uploader p.mb-2 { width: 216px;}
    .dm-uploader p.controls button, .dm-uploader p.controls button.btn.btn-primary { font-size: 12px !important; width: 80px !important;padding: 3px; margin-right: 7px !important}
}
