/*@font-face {
  font-family: 'got2go';
  src:  url('got2go.eot?qa5kbf');
  src:  url('got2go.eot?qa5kbf#iefix') format('embedded-opentype'),
    url('got2go.ttf?qa5kbf') format('truetype'),
    url('got2go.woff?qa5kbf') format('woff'),
    url('got2go.svg?qa5kbf#got2go') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}*/
@font-face {  font-family: 'got2go';  font-weight: normal;  font-style: normal;  font-display: block; src: local('got2go'),url('got2go.woff') format('woff'), url('got2go.ttf') format('truetype'), url('got2go.svg') format('svg');}
[class^="got-"], [class*=" got-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'got2go' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.got-camera:before {
  content: "\e824";
}
.got-my-offers:before {
  content: "\e823";
}
.got-dashboard:before {
  content: "\e822";
}
.got-fb:before {
  content: "\e821";
}
.got-insta:before {
  content: "\e820";
}
.got-pinterest:before {
  content: "\e819";
}
.got-twitter:before {
  content: "\e818";
}
.got-preferred-cities:before {
  content: "\e817";
}
.got-settings:before {
  content: "\e816";
}
.got-chat:before {
  content: "\e815";
}
.got-my-account:before {
  content: "\e814";
}
.got-my-stays:before {
  content: "\e813";
}
.got-star:before {
  content: "\e811";
}
.got-singlarrow-right:before {
  content: "\e810";
}
.got-instagram:before {
  content: "\e809";
}
.got-date:before {
  content: "\e808";
}
.got-delete:before {
  content: "\e807";
}
.got-arrow-right:before {
  content: "\e806";
}
.got-user:before {
  content: "\e805";
}
.got-arrow-down-solid:before {
  content: "\e804";
}
.got-arrow-left-solid:before {
  content: "\e803";
}
.got-arrow-right-solid:before {
  content: "\e802";
}
.got-arrow-up-solid:before {
  content: "\e801";
}
.got-heart:before {
  content: "\e800";
}
