.custom-alert-msg {
    position: absolute;
    width: 100%;
    padding: 20px;
    z-index: 10;
    font-weight: bold;
    text-align: center;
}
#wrapper {
    position:relative;
}
#showmsg, #showerrormsg{
    display: inline-block;
}