a:hover {
    color: #000;
}

.w-70 {
    width: 70% !important;
}

.w-20 {
    width: 20% !important;
}

.w-35 {
    width: 35% !important;
}

.my-account-dashboard {
    display: flex;
    position: relative;
}

.my-account-dashboard #content-wrapper {
    background-color: #f2f4f6;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.my-account-dashboard #content-wrapper #content {
    flex: 1 0 auto;
    padding: 0 1rem;
}

.navbar-nav .left-sidebar-nav-link {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    display: block;
}

.togl-btn-custom {
    position: absolute;
    top: 24px;
    left: 30px;
    display: block;
    transition: all 0.2s;
    padding: 3px 6px;
    border-radius: 2px;
}

@keyframes mymovesidebar {
    from {
        left: 10px;
    }
    to {
        left: 0;
    }
}

@keyframes mymove {
    from {
        left: 40px;
    }
    to {
        left: 150px;
    }
}

.togl-btn-custom.pushed {
    left: 160px;
    animation: mymove 0.05s ease-out;
}
.togl-btn-custom i {
    color: #fff;
}
/*****************/

.tripper-dashboard .left-sidebar.collapse.show {
    background: linear-gradient(180deg, #3d87cb 0%, #e40246 100%);
    max-width: 134px;
}
.tripper-dashboard div.hello-lydia-down-arrow {
    right: 13%;
    background: url("../../media/images/my-dashboard/cam_icon_tripper.png") !important;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    bottom: 5px; z-index: 9;
}
.tripper-dashboard .left-sidebar {
    background: linear-gradient(180deg, #3d87cb 0%, #e40246 100%);
}
.tripper-dashboard a.left-sidebar-nav-link,
.tripper-dashboard .left-sidebar-nav-item.user,
.tripper-dashboard .left-sidebar-nav-item.user span.user-text {
    color: #fff !important;
}
.tripper-dashboard .left-sidebar-nav-item.active .left-sidebar-nav-link,
.tripper-dashboard
    .left-sidebar-nav-item.active
    .left-sidebar-nav-link
    span
    svg,
.tripper-dashboard
    .left-sidebar-nav-item.active
    .left-sidebar-nav-link
    span
    svg:hover,
.tripper-dashboard .left-sidebar-nav-item.active .left-sidebar-nav-link span i {
    fill: #90468a !important;
    color: #90468a !important;
}
.tripper-dashboard .left-sidebar-nav-item.active {
    background: #fff;
}
.tripper-dashboard .left-sidebar-nav-link span svg, .tripper-dashboard .left-sidebar-nav-link span svg path,
.tripper-dashboard .left-sidebar-nav-link span i {
    fill: #fff;
    color: #fff;
    font-size: 22.8px;
}
.tripper-dashboard .left-sidebar-nav-link:hover,
.tripper-dashboard .left-sidebar-nav-link:hover svg,
.tripper-dashboard .left-sidebar-nav-link:hover i {
    fill: #fff !important;
    color: #fff !important;
}
.tripper-since-txt {
    margin-top: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
}
.tripper-since-txt b {
    font-weight: 800;
    font-size: 19px;
    line-height: 23px;
}
.tripper-since-txt b sup {
    text-transform: lowercase;
}
.zero-state-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    padding: 40px 0;
    width: 75%;
    margin: auto;
}
.potential-listing-section .zero-state-text{
    width: 30%;
}
.menu-tripper-points {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
}
.dollars-saved-since {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    text-transform: lowercase;
}
.dollars-saved-since b {
    font-weight: 800;
}
.common-text-hide {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.common-open {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}
.common-fatfrank {
    font-family: "fatfrank", sans-serif;
    font-style: normal;
    max-width: 100%;
}
.block-1-heading-1 {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    color: #b42468;
}
.block-1-heading-2,
.block-1-heading-2 a {
    display: inline;
    vertical-align: middle;
    float: right;
    padding-top: 2px;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #3d87cb;
}
.block-1-heading-3 {
    display: block;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #3d3d3d;
}
.block-1-heading-4 {
    display: block;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #9b9b9b;
}
.block-1-heading-5 {
    display: inline;
    vertical-align: middle;
    float: right;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #b62569;
}
.block-1-heading-5 b {
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    color: #b62569;
}
.trip-img-block-1 {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.trip-img-block-1 img {
    border-radius: 5px;
    object-fit: cover;
    height: 186px;
    width: 417px;
}
.trip-img-block-2 {
    width: 100%;
}
.trip-img-block-2 img {
    border-radius: 5px;
    object-fit: cover;
    height: 90px;
    width: 99px;
}
.youare-good-to-go {
    margin-top: 15px;
    background: #e5ffe6;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    display: block;
    text-align: center;
    padding: 8px 10px;
    text-transform: uppercase;
    color: #30A905;

}
.points-heading {
    margin-top: 15px;
    border: 1px solid #b22466;
    border-radius: 18.5px;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #b42468;
    display: block;
    text-align: center;
    padding: 8px 10px;
    text-transform: uppercase;
}
.block-comon-title {
    display: inline;
    vertical-align: middle;
    font-weight: 300;
    font-size: 23px;
    line-height: 31px;
    color: #3d3d3d;
    text-transform: uppercase;
}
.block-comon-title b {
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
}
.block-2-heading-1 {
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #3d3d3d;
    text-transform: uppercase;
}
.block-2-heading-2 {
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #9b9b9b;
    text-transform: capitalize;
}
.block-2-heading-3 {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #3d3d3d;
}
.block-2-heading-4,
.block-2-heading-4 a,
a.block-2-heading-4 {
    display: block;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #727272;
    margin-top: 7px;
    text-transform: capitalize;
}
.card.triper-dashbrd-card-block {
    min-height: 534px;
}
.card .triper-stay-dbrd-list .col-8 {
    margin-left: -10px;
}
.triper-stay-dbrd-list {
    position: relative;
    padding: 10px;
}
.triper-stay-dbrd-list:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.block1-btn .btn-purple-gradient {
    min-width: 146px;
}
.triper-stay-dbrd-list .btn-purple-gradient {
    min-width: 74px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.tripper-dboard-form .deals-slider-box {
    width: 243px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
}
.deal-titl {
    border-radius: 5px 5px 0 0;
    height: 42px;
    background: #3d87cb;
    display: block;
    font-weight: 300;
    font-size: 19px;
    line-height: 23px;
    color: #ffffff;
    text-align: center;
    padding-top: 9px;
}
.deals-slider-box img {
    border-radius: 0 0 5px 5px;
    height: 155px;
    object-fit: cover;
}
.deals-slider-box .img {
    position: relative;
}
.img .circle-with-txt-overly {
    position: absolute;
    width: 96px;
    height: 96px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
        359.03deg,
        rgba(61, 135, 203, 0.79) 0.75%,
        rgba(228, 2, 70, 0.79) 99.11%
    );
    mix-blend-mode: normal;
    border-radius: 100%;
    text-align: center;
    padding-top: 30px;
}
.circle-txt-overly {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    opacity: 1;
    z-index: 10;
}
.circle-txt-overly b {
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    display: block;
    width: 100%;
}
.recent-message-chatbox {
    border: 1px solid #e3e3e3;
    border-bottom: 0;
    padding: 10px 20px;
    min-height: 70px;
}
.recent-message-chatbox:last-child {
    border-bottom: 1px solid #e3e3e3;
}
.recent-message-chatbox.unread {
    background: #f9f9f9;
}
.unread .recent-message-name {
    font-weight: 800;
    color: #b32467;
}
.recent-message-chatbox img {
    border-radius: 100%;
    height: 44px;
    width: 44px;
    object-fit: cover;
    margin-top: 3px;
}
.recent-message-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    text-transform: capitalize;
}
.recent-message-content {
    padding-top: 5px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #9b9b9b;
}
.recent-message-date {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}
.tripper-tripboard-box {
    background: linear-gradient(
        179.54deg,
        #5495d1 -117.29%,
        #ddddb6 49.99%,
        #eeda8c 94.15%,
        #e6c469 153.04%,
        #f6ab34 217.27%
    );
    border-radius: 5px;
}
.tripper-tripboard-box.create-new-box {
    background: #fff;
    border: 1px dashed #b2b2b2;
    min-height: 110px;
    position: relative;
}
.tripper-tripboard-box.create-new-box a.plus-button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(210.73deg, #5d99cf 17.56%, #f6ab34 84.1%);
    width: 51px;
    height: 51px;
    border-radius: 100%;
}
.tripper-tripboard-box .tile-1,
.tripper-tripboard-box .tile-2 {
    padding: 6px;
    display: inline-block;
    position: relative;
}
.tripper-tripboard-box .tile-1 img,
.tripper-tripboard-box .tile-2 img {
    max-width: 100%;
    min-height: 96px;
    object-fit: cover;
    border-radius: 2px;
}
.tripper-tripboard-box .tile-2 .overlay-yelblue {
    position: absolute;
    width: 89%;
    height: 89%;
    bottom: 6px;
    right: 6px;
    text-align: center;
    margin: auto;
    background: #5B98CF70;
    mix-blend-mode: normal;
    padding-top: 29px;
    font-weight: 800;
    font-size: 35px;
    line-height: 36px;
    color: #ffffff;
}
.tripper-dboard-slider-deal.owl-carousel {
    position: relative; width:100%;
}
.tripper-dboard-slider-deal.owl-carousel .owl-nav {
    position: absolute;
    top: 0;
    background: transparent;
    right: 0;
    height: 99%;
    width: 110px;
    text-align: center;
}
.potential-listing-slider.tripper-dboard-slider-deal.owl-carousel .owl-nav {
    background: transparent;
}
.tripper-dboard-slider-deal.owl-carousel .owl-nav button.owl-next,
.tripper-dboard-slider-deal.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    display: inline-block;
    top: 50%;
    border-radius: 100%;
    background: #b62569;
    box-shadow: 5px 0px 30px rgba(255, 255, 255, 0.6);
    width: 50px;
    height: 50px;
    text-align: center;
}
.tripper-dboard-slider-deal.owl-carousel .owl-nav button.owl-prev {
    left: 5%;
    transform: translate(-5%, -50%);
}
.tripper-dboard-slider-deal.owl-carousel .owl-nav button.owl-next {
    left: 95%;
    transform: translate(-95%, -50%);
}
.tripper-dboard-slider-deal.owl-carousel .owl-prev.disabled {
    display: none !important;
}
.tripper-dboard-slider-deal.owl-carousel .owl-next.disabled {
    display: none !important;
}
.tripper-dboard-slider-deal.owl-carousel .owl-nav button.owl-next span,
.tripper-dboard-slider-deal.owl-carousel .owl-nav button.owl-prev span {
    font-size: 45px;
    color: #fff;
    line-height: 43px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}
.tripper-dboard-slider-deal.owl-carousel.owl-drag .owl-item {
    width: 263px !important;
    padding-left: 10px;
    padding-right: 10px;
}

.tripper-dboard-slider-deal.owl-carousel .owl-stage-outer > .owl-stage {
    display: flex;
    align-items: left;
    justify-content: left;
}
.triper-dashbrd-card-block i.fa-suitcase {
    color: #d3d3d3;
    font-size: 100px;
}
button.tripboard-gradient-button,
a.tripboard-gradient-button {
    background: linear-gradient(
        225deg,
        #3d87cb 0%,
        #bdd2e9 48.96%,
        #eebe61 100%
    );
    border-radius: 20px;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    padding: 11px 60px;
    text-align: center;
    color: #ffffff;
}
.tripper-dashboard .renewal-tripper-text {
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #575454;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.tripper-dashboard .renewal-tripper-date {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #575454;
    margin-bottom: 10px;
    text-transform: capitalize;
}

/*******************/

.left-sidebar {
    background: #fff;
    min-height: 100vh;
    display: none;
}

.left-sidebar.collapse.show {
    display: block;
    background: #cee4ff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    min-height: 100vh;
    animation: mymovesidebar 0.1s ease-in;
}

.left-sidebar-nav-item {
    margin-bottom: 3px;
    text-align: left;
    padding: 10px 0;
}

.left-sidebar-nav-item.active {
    background: #fce300;
    border-radius: 5px;
}

.left-sidebar-nav-item.user {
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    text-align: center;
    padding: 0;
}

.left-sidebar-nav-item.user .left-sidebar-nav-link {
    position: relative;
    margin-bottom: 15px;
    display: block;
    text-align: center;
}

.left-sidebar-nav-item.user span.user-text {
    font-family: "fatfrank", sans-serif;
    font-weight: 400;
    font-size: 13.5px;
}

div.hello-lydia-down-arrow {
    /* padding-top: 3rem; */
    position: absolute;
    right: 13%;
    background: url("../../media/images/camera-icon.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    bottom: 5px;
}

.left-sidebar-nav-link span.left-sidebar-user-img {
    width: 60px;
    height: 60px;
    display: inline-block;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
}

.left-sidebar-user-img img {
    max-width: 100%;
    border-radius: 100%;
}

a.left-sidebar-nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #5c6163;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}

.left-sidebar-nav-link span {
    display: block;
    width: 100%;
    text-align: center;
    /* vertical-align: middle; */
}

.left-sidebar-nav-link span svg {
    fill: #939fa4;
}

.left-sidebar-nav-item.active .left-sidebar-nav-link,
.left-sidebar-nav-link:hover,
.left-sidebar-nav-link:hover svg,
.left-sidebar-nav-link:hover svg path,
.left-sidebar-nav-item.active .left-sidebar-nav-link svg,
.left-sidebar-nav-item.active .left-sidebar-nav-link svg path,
.left-sidebar-nav-item.active .left-sidebar-nav-link span svg:hover, .left-sidebar-nav-item.active .left-sidebar-nav-link span svg:hover path {
    fill: #000 !important;
    color: #000 !important;
}
.tripper-dashboard .left-sidebar-nav-item.active .left-sidebar-nav-link span svg:hover path, 
.tripper-dashboard .left-sidebar-nav-link:hover svg path{fill: #fff !important;
    color: #fff !important;}
    
.tripper-dashboard .left-sidebar-nav-item.active .left-sidebar-nav-link, 
.tripper-dashboard .left-sidebar-nav-item.active .left-sidebar-nav-link span svg, 
.tripper-dashboard .left-sidebar-nav-item.active .left-sidebar-nav-link span svg:hover, 

.tripper-dashboard .left-sidebar-nav-item.active .left-sidebar-nav-link span i, 
.tripper-dashboard .left-sidebar-nav-item.active .left-sidebar-nav-link span path {
    fill: #90468a !important;
    color: #90468a !important;
}
.left-sidebar-nav-link:hover svg,
.left-sidebar-nav-link.active svg,
.left-sidebar-nav-link span svg:hover {
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16); */
}

hr.hello-lydia-separator {
    height: 1px;
    background-color: #707070;
    width: 52px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
    border: 0;
}

hr.left-sidebar-divider {
    margin-bottom: 24px;
    border-top: 3px solid #707070;
    margin-left: -10px;
    margin-right: -10px;
}

/****************************/

h2.dashboard-title {
    font-size: 32px;
    line-height: normal;
    font-weight: 300;
    color: #3d3d3d;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h2.dashboard-title b {
    font-family: "fatfrank", sans-serif;
    font-weight: bolder;
    font-size: 32px;
}

.my-acc-dashbrd {
    padding-bottom: 60px;
}

.my-acc-dashbrd p {
    font-size: 14px;
    color: #5c6163;
}

.my-acc-dashbrd p a:hover {
    color: #000;
    font-weight: 900;
}

.my-acc-dashbrd .card-body {
    padding: 2rem;
}

.my-acc-dashbrd .card h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    color: #3d3d3d;
    padding-bottom: 20px;
}

.my-acc-dashbrd .card h3 b {
    font-family: "fatfrank", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.my-acc-dashbrd .card h3 b.open-sans {
    font-family: "Open Sans", sans-serif !important;
}

form.dashboard-forms input.error {
    border: 1px solid red;
}

form.dashboard-forms .form-group-custm {
    margin-bottom: 0;
    margin-top: 10px;
}

form.dashboard-forms .input-group {
    margin-bottom: 0px;
    margin-top: 10px;
}

form.dashboard-forms .input-group i {
    font-size: 1.8rem;
}

form.dashboard-forms #kt_datepicker_2 {
    background: #f9f9f9;
    height: 50px;
    border-radius: 30px;
    width: 100%;
}

form.dashboard-forms .input-group-text {
    background-color: #f9f9f9;
    border-radius: 0 30px 30px 0;
}

form.dashboard-forms .input-group .form-class-cstm {
    padding: 8px 20px;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
    border-radius: 30px 0 0 30px;
}

form.dashboard-forms .input-group .form-control {
    font-size: 13px !important;
    font-family: "Open Sans", sans-serif !important;
    color: #3f4254 !important;
}

.dashbrd-social-login {
    margin-top: 20px;
}

.dashbrd-social-login span a {
    font-size: 14px;
    font-weight: 400;
    color: #5c6163;
    margin-right: 5px;
}

.dashbrd-social-login span.not-connected a {
    color: #939fa4;
    display: block;
}

.dashbrd-social-login span.not-connected a:hover {
    color: #5c6163;
}

.bank-card-detail {
    background: #f9f9f9;
    border-radius: 50px;
    min-height: 69px;
    vertical-align: middle;
    padding: 14px 20px;
    width: 100%;
}

.bank-card-detail p {
    margin-bottom: 0;
    font-size: 13px;
    color: #000;
    letter-spacing: 1px;
}

.bank-card-detail p b {
    font-weight: 800;
}

.bank-card-type-img {
    width: 41px;
    height: 100%;
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 7px;
}

.bank-card-type-img img {
    max-width: 100%;
}

.del-circle-icon {
    background: rgba(0, 0, 0, 0.3);
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    text-align: center;
    margin-top: 5px;
    float: right;
}

.del-circle-icon i {
    color: #fff !important;
    vertical-align: middle;
    line-height: 31px;
    font-size: 13px;
}

.del-circle-icon:hover {
    background: rgba(0, 0, 0, 0.5);
}

/**********buttons*****************************/

a.btn-sunset-gradient,
button.btn-sunset-gradient {
    padding: 10px;
    margin-bottom: 8px;
    min-width: 120px;
    background: linear-gradient(90deg, #ffe100, #e60a4c);
}
.tripper-dashboard a.btn-sunset-gradient,
.tripper-dashboard button.btn-sunset-gradient {
    background: linear-gradient(270deg, #3d87cb 24.5%, #e40246 95%) !important;
}
.tripper-dashboard a.btn-add-payment-method,
.tripper-dashboard button.btn-add-payment-method,
.tripper-dashboard a.btn-add-payment-method:hover,
.tripper-dashboard button.btn-add-payment-method:hover {
    color: #3d87cb;
    border: 1px solid #3d87cb;
}
.tripper-dashboard ul.notification-types .switch input:checked ~ span:before {
    background: linear-gradient(
        258.14deg,
        #3d87cb -7.75%,
        #e40246 99.63%
    ) !important;
}
a.btn-purple-gradient,
button.btn-purple-gradient {
    padding: 10px;
    background: linear-gradient(270deg, #3d87cb 24.5%, #e40246 95%);
}

a.button-default-custom,
button.button-default-custom {
    font-family: "fatfrank", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border-radius: 35px;
    text-transform: capitalize;
    display: inline-block;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    border: 0;
    text-align: center;
}

a.button-default-custom:hover,
button.button-default-custom:hover {
    color: #fff;
}

a.btn-add-payment-method,
button.btn-add-payment-method {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #f68a01;
    border-radius: 35px;
    text-transform: capitalize;
    display: inline-block;
    border: 1px solid #f68a01;
    text-align: center;
    background-color: #fff;
    padding: 10px 20px;
}

a.btn-add-payment-method:hover,
button.btn-add-payment-method:hover {
    color: #f68a01;
}

a.button-custm-cancel,
button.button-custm-cancel {
    color: #727272;
    font-weight: bolder;
    font-size: 16px;
}

a.button-custm-cancel:hover,
button.button-custm-cancel:hover {
    color: #000;
}

/***************/

#new-payment-method_popup .modal-content,
#new-payment-method_popup .modal-body {
    background: #fff;
    text-align: center;
}

#new-payment-method_popup.modal .modal-header .close {
    margin-left: auto;
}

#new-payment-method_popup h3 {
    font-family: "fatfrank", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #000;
    padding-bottom: 20px;
}

/*******************/

ul#notifi-type {
    display: none;
}

ul.notification-types {
    list-style: none;
}

ul.notification-types li {
    display: inline-block;
    width: 32%;
    text-align: right;
    font-size: 14px;
    font-weight: 800;
    color: #3d3d3d;
}

.my-notifi-title {
    font-size: 16px !important;
    font-weight: 800;
    color: #575454;
}

.my-notifi-content {
    font-size: 14px !important;
    font-weight: 400;
    color: #3d3d3d;
}

ul.notification-types .switch {
    margin-right: 0;
}

ul.notification-types .switch input:checked ~ span:before {
    background: linear-gradient(#f38b1b, #fce300) !important;
}

ul.notification-types .switch input:empty ~ span:before {
    background-color: #a7b0b4;
}

label.notify-type-lbl {
    display: inline-block;
    padding-right: 7px;
    color: #f38b1b !important;
    font-size: 12px !important;
}

ul.notification-types.mt-10 {
    margin-top: 15px !important;
}

hr.form-divide-line {
    border-top: 2px solid #707070;
}

/*************************/

footer.my-dashboard-footer {
    background: #fff !important;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.2);
    padding: 50px 0 110px 0 !important;
    position: relative !important;
}

h5.footer-list-title {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    line-height: normal;
    margin-bottom: 5px;
}

footer.my-dashboard-footer ul {
    list-style: none;
    margin-bottom: 0;
}

ul.footer-list li {
    padding-top: 15px;
}

footer.my-dashboard-footer ul li a {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: #000;
}

footer.my-dashboard-footer ul li a:hover {
    font-weight: 600;
    color: #000000;
}

.global-footer-bottom-strip {
    background: #f2f4f6;
    min-height: 60px;
    display: block;
    width: 95%;
    padding: 10px 0;
    text-align:center;
    border-top: 1px solid #B7BACA;
    margin-top:66px;
    margin-left: 33px;
    margin-right: 40px;
}

ul.footer-bottom-strip-list li a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

ul.footer-bottom-strip-list li:first-child a:hover {
    text-decoration: none !important;
    cursor: text;
    color: #000;
}

ul.footer-bottom-strip-list li a:hover {
    text-decoration: underline !important;
    font-weight: 400 !important;
}

ul.footer-bottom-strip-list {
    margin-top: 10px;
}

ul.footer-bottom-strip-list svg path {
    fill: #000000;
}

ul.footer-bottom-strip-list svg:hover path {
    fill: #68707e;
}

ul.footer-bottom-strip-list li {
    display: inline-block;
    padding-right: 5px;
    line-height: 30px;
}
ul.footer-bottom-strip-list li:first-child{padding-bottom:0px;}
ul.footer-bottom-strip-list.social-media-list-icons li {
    padding-right: 20px;
}

ul.footer-bottom-strip-list.social-media-list-icons li:first-child a {
    cursor: pointer;
}

ul.footer-bottom-strip-list.social-media-list-icons li:last-child {
    padding-right: 0px;
}

ul.footer-bottom-strip-list li a b {
    font-weight: bolder;
}

/**************my stays************************/

.mystays-list-img {
    height: 100px;
}

.mystays-list-img img {
    /*max-height: 100%;*/
    height: 120px;
    min-width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

p.mystays-list-title,
p.mystays-list-title a,
p.mystays-list-title span {
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    color: #3d3d3d;
    font-style: normal;
    line-height: 1.3;
    margin-bottom: 5px;
}

p.mystays-hotel-name,
p.mystays-hotel-name a,
p.mystays-hotel-name span {
    color: #a7b0b4;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.3;
}

p.days-night-tag,
p.days-night-tag a,
p.days-night-tag span {
    background: #f2f2f2;
    text-transform: capitalize;
    border-radius: 18px;
    display: inline-block;
    padding: 8px 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #24282a;
    margin-bottom: 10px;
}

p.mystays-date-dollar,
p.mystays-date-dollar a,
p.mystays-date-dollar span {
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #24282a;
    margin-bottom: 5px;
}

p.mystays-time,
p.mystays-time span,
p.mystays-time a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #a7b0b4;
    margin-bottom: 5px;
}

p.mystay-status-text,
p.mystay-status-text span,
p.mystay-status-text a {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0px;
    vertical-align: middle;
}

p.mystay-status-text.approved,
p.mystay-status-text.approved a {
    color: #30a905;
    /* letter-spacing: 1px; */
    background: #cbf2c8;
    padding: 7px 20px;
    border-radius: 23px;
    min-width: 135px;
    font-weight: 700;
}

p.mystay-status-text.patience,
p.mystay-status-text.patience a {
    color: #f5a73b;
    /* letter-spacing: 1px; */
    background: #fff3e2;
    padding: 7px 20px;
    border-radius: 23px;
    min-width: 135px;
    font-weight: 700;
}

p.mystay-status-text.rejected,
p.mystay-status-text.rejected a {
    color: #ec1d1d;
    /* letter-spacing: 1px; */
    background: #ffecec;
    padding: 7px 20px;
    border-radius: 23px;
    min-width: 135px;
    font-weight: 700;
}

.mystay-tripboard {
    /*background: url(../../media/images/modal-addtripboard-bg.png),
        linear-gradient(
            90deg,
            rgba(246, 168, 18, 1) 0%,
            rgba(246, 168, 18, 0.5) 50%,
            rgba(61, 135, 203, 1) 100%
        ) !important;*/
    background: linear-gradient(214.69deg, #3D87CB -23.24%, #BDD2E9 90.63%, #EEBE61 120.49%) !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border: none !important;
    padding: 10px !important;
    position: relative !important;
    margin-top: 10px;
    margin-bottom:57px;
    width: 527px;
    margin-left:auto; margin-right:auto; border-radius:39px;
}
.tripper-dashboard-popup{margin-top:58px;}
.mystay-tripboard h1.title-mystay-tripboard {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(
        225deg,
        #3d87cb 0%,
        #bdd2e9 48.96%,
        #eebe61 100%
    );
    border-radius: 32.5px;
    min-width: 313px;
    min-height: 65px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 15px 25px;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.mystay-tripboard h1.title-mystay-tripboard b {
    font-size: 30px;
    font-weight: 900;
}

p.mystay-tripboard-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
.mystay-tripboard .add-tripboard-container{padding:45px 15px;}
.mystay-tripboard .add-tripboard-container .vertical-middle{padding:0 35px;}
a.view-past-stay-btn,
button.view-past-stay-btn {
    width: 174px;
    height: 38px;
    border: 1px solid #979797;
    border-radius: 20px;
    text-align: center;
    color: #979797;
    font-weight: 700;
    text-transform: capitalize;
    padding: 8px 28px;
    font-size: 16px;
}

a.btn-tripboard-fly.rounded {
    border-radius: 35px !important;
    min-height: 60px !important;
    padding: 20px 18px 12px 30px !important;
    font-size: 18px !important;
    line-height: 22px !important;
    color: #3d87cb !important;
}

/**********view stays****************/

.nav.nav-tabs.nav-tabs-line.custom .nav-link {
    position: relative;
    font-style: normal;
    color: #d8d8d8;
    font-size: 20px;
    font-weight: normal;
    line-height: 19px;
    text-transform: capitalize;
}

.nav.nav-tabs.nav-tabs-line.custom .nav-link.active,
.nav.nav-tabs.nav-tabs-line.custom .nav-link:hover {
    border-bottom: 0 !important;
    font-weight: 800;
    color: #000000;
}
.nav-tabs {
    border-bottom: 4px solid #e4e6ef;
}
.nav.nav-tabs.nav-tabs-line .nav-link, .nav.nav-tabs.nav-tabs-line .nav-link:hover{border:0;}
.nav.nav-tabs.nav-tabs-line.custom .nav-link.active::after {
    background: linear-gradient(248.12deg, #e40046 14.33%, #fce300 93.88%);
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    top: 99%;
    height: 4px;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.7)); */
    z-index: 30;
}

a.back-to-all-stays {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #727272;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: initial;
    display: block;
}

a.back-to-all-stays i {
    color: #727272;
    padding-right: 10px;
}

.my-acc-dashbrd .card h3.type-apt-title {
    padding-top: 5px;
    padding-bottom: 0px !important;
    font-family: "fatfrank", sans-serif !important;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    color: #3d3d3d;
    text-transform: uppercase;
}

p.type-apt-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #3d3d3d;
}

.mystays-list-status img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.mystays-list-img-big {
    height: 300px;
}

.mystays-list-img-big img {
    max-height: 100%;
    border-radius: 10px;
    height: 300px;
    min-width: 100%;
    object-fit: cover;
}

p.standard-rates {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #3d3d3d;
    text-transform: uppercase;
}

p.standard-rates-title {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
}

p.standard-rates-content {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #3d3d3d;
    text-transform: capitalize;
}

.standard-rates-total {
    background: #f7f7f7;
    border-radius: 19px;
    padding: 10px;
    margin-top: 10px !important;
}

p.standard-rates-total-text {
    margin-bottom: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #3d3d3d;
}

.statndard-rates-status {
    text-align: center;
    padding: 5px;
    margin-top: 10px !important;
}

.statndard-rates-status p {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #2fcc35;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}

.view-mystays-para p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #5c6163;
    width: 100%;
    display: block;
    margin-bottom: 30px;
}

.view-mystays-para p.title {
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.view-mystays-para p.second-para {
    margin-bottom: 15px;
}

.entire-home-hosted-by {
    width: 100%;
    display: block;
    padding-top: 5px;
}

.entire-home-hosted-by img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    display: inline-block;
}

.entire-home-hosted-by h4 {
    font-family: "fatfrank", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
}

.entire-home-hosted-by h5,
.view-stay-policy h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #5c6163;
    padding-top: 8px;
}

.view-stay-type-residence {
    border: 1px solid #ececec;
    border-radius: 10px;
    padding: 20px 10px;
    width: 145px;
    margin-top: 10px;
}

.view-stay-type-residence img {
    display: block;
    text-align: center;
    width: 100%;
    height: 32px;
}

.view-stay-type-residence p {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    margin-bottom: 0;
    padding-top: 10px;
}

.view-stay-policy {
    margin-top: 15px;
    display: block;
    width: 100%;
}

.custom-text-basic-rules p {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
.tripboard-edit-right-section .take-last-min-trip-box {
    background: #fff;
    padding: 0;
    padding-top: 30px;
}
.tripboard-edit-right-section .take-last-min-trip-box h1.take-last-min-text {
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 15px;
}
.tripboard-edit-right-section .border-separator {
    background: #e1e1e1;
    margin-bottom: 40px;
}
.tripboard-edit-right-section p.name-place {
    font-weight: 800 !important;
    line-height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #3d3d3d !important;
}
.tripboard-edit-right-section p.price-of-place {
    text-transform: lowercase !important;
    font-weight: 800 !important;
    font-size: 20px;
    line-height: 27px;
    color: #323232 !important;
}
.tripboard-edit-right-section .recent-view-ul li {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #323232;
    padding-left: 12px;
    padding-right: 4px;
    position: relative;
}
.tripboard-edit-right-section .recent-view-ul li:before {
    content: "";
    position: absolute;
    background: #323232;
    border-radius: 50%;
    top: 9px;
    left: 3px;
    border: 2px solid #323232;
    display: inline-block;
}
.tripboard-edit-right-section .recent-view-ul li:first-child:before {
    display: none;
}
.tripboard-edit-right-section .recent-view-ul li:first-child {
    padding-left: 0;
}
.tripboard-edit-right-section ul.recent-view-ul {
    list-style-type: disc;
    display: flex;
    flex-wrap: wrap;
    padding-left:0;
    margin-top: 0;
}
.tripboard-edit-right-section .recent-message-name {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
}
.tripboard-edit-right-section .recent-message-content {
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}
.tripboard-edit-right-section .recent-message-date {
    font-size: 12px;
    line-height: 16px;
    color: #bcbcbc;
    text-transform: uppercase;
}
.tripboard-edit-right-section .recent-message-chatbox {
    border: 0;
}
.tripboard-edit-right-section .recent-message-chatbox:last-child {
    border-bottom: 0;
}
.tripboard-edit-right-section .chat-box {
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.tripboard-edit-right-section .chat-lists {
    max-height: 320px;
    position: relative;
    overflow-y: auto;
}
.tripboard-edit-right-section .chat-lists::-webkit-scrollbar {
    width: 4px;
}
.tripboard-edit-right-section .chat-lists::-webkit-scrollbar-thumb {
    background-color: #bcbcbc;
    border-radius: 15px;
}
.chat-type-section {
    padding: 20px;
    border-top: 1px solid #e4e4e4;
}
.chat-type-section input,
.chat-type-section input::placeholder {
    color: #000 !important;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}
.chat-type-section input:focus {
    outline: none;
}
.tripboard-edit-right-section .where-to-go {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 30px;
}
.tripboard-edit-right-section .checkboxes-inline {
    margin-bottom: 30px;
}
.tripboard-edit-right-section .custom-checkbox {
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-top: 3px;
}
.tripboard-edit-right-section .custom-checkbox.unchecked {
    /* color: #A7B0B4; */
}
.tripboard-edit-right-section .checkmark {
    width: 22px;
    height: 22px;
    border: 1px solid #a7b0b4;
    background: #ffffff;
    border-radius: 4px;
    background-image: none !important;
}
.tripboard-edit-right-section
    .custom-checkbox
    input[type="checkbox"]:checked
    ~ .checkmark {
    background-image: url(../../media/images/my-dashboard/checkmark.svg),
        linear-gradient(180deg, #e40046 0%, #fce300 100%) ;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    border: 0;
}
.my-city-board {
    background: #ffffff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
}
.my-city-img {
    border-radius: 24px 24px 0px 0px;
    position: relative;
}
.my-city-img img.city-pic {
    border-radius: 24px 24px 0px 0px;
    width: 100%;
    height: 100%;
    min-height: 202px;
    display: block;
    object-fit: cover;
}
.delete-circ-icon {
    position: absolute;
    right: 15px;
    top: 15px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    padding-top: 4px;
}
.delete-circ-icon img {
    max-width: 100%;
    width: 11.04px;
    height: 14.58px;
}
.card .my-city-board h4 {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #a2a2a2;
}

#UploadProfileModal .modal-content {
    border-radius: 20px !important;
}
#UploadProfileModal .modal-header {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}
#UploadProfileModal .modal-body {
    border-radius: 0 0 20px 20px !important;
}
.sharelinkMystay .modal-dialog {
    max-width: 594px;
}
.sharelinkMystay .modal-content,
.sharelinkMystay .modal-header {
    background: #ff7a00;
    border-top-left-radius: 90px !important;
    border-top-right-radius: 90px !important;
    border-bottom-left-radius: 90px !important;
    border-bottom-right-radius: 90px !important;
    min-height: 60px;
}
.sharelinkMystay button.btnClose,
.sharelinkMystay button.btnClose svg {
    fill: #fff;
    color: #fff;
}
.sharelinkMystay .sharing-heading {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding: 0 20px;
}

/**************************/

@media (max-width: 767px) {
    h5.footer-list-title {
        margin-top: 30px;
    }
    .footer-logo.text-right {
        text-align: center !important;
    }
    a.btn-tripboard-fly.rounded {
        font-size: 17px !important;
        text-align: center !important;
        padding: 18px 15px !important;
    }
    div#view-stay-page-slider {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .potential-listing-section .zero-state-text{
        width: 100%;
    }
}

@media (max-width: 575px) {
    #view-stay-page-slider.owl-theme .owl-nav {
        display: none;
    }
    .view-stay-policy img,
    .view-stay-policy h5 {
        margin-bottom: 20px;
    }
    label.notify-type-lbl {
        display: block;
    }
    .bank-card-detail {
        padding: 14px 10px;
    }
    .bank-card-detail p {
        letter-spacing: 0;
    }
}

@media (min-width: 768px) {
    .togl-btn-custom {
        display: none;
    }
    .left-sidebar {
        min-width: 288px !important;
        width: 288px !important;
        padding: 0 18px;
        text-align: center;
        display: block;
    }
    hr.left-sidebar-divider {
        margin-left: -30px;
        margin-right: -30px;
    }
    .tripper-dashboard div.hello-lydia-down-arrow,
    div.hello-lydia-down-arrow {
        right: 23%;
        /* padding-top: 5rem; */
    }
    .left-sidebar-nav-link span.left-sidebar-user-img {
        width: 88px;
        height: 88px;
    }
    .left-sidebar-nav-item.user {
        font-size: 21px;
    }
    .left-sidebar-nav-item.user span.user-text {
        font-size: 22px;
    }
    .left-sidebar-nav-link span {
        display: inline-block;
        width: 35px;
        text-align: left;
    }
    .left-sidebar-nav-item {
        padding: 10px; list-style: none;
    }
    .navbar-nav .left-sidebar-nav-link {
        vertical-align: middle;
        text-align: left;
    }
    .dashbrd-social-login span.not-connected a {
        display: inline-block;
    }
}

@media (min-width: 992px) {
    form.dashboard-forms .form-group-custm {
        margin-bottom: 10px;
    }
    form.dashboard-forms .input-group {
        margin-bottom: 10px;
    }
    .dashbrd-social-login span {
        margin-right: 25px;
    }
    .my-acc-dashbrd .card-body {
        padding: 5rem;
    }
    .my-account-dashboard #content-wrapper #content {
        padding: 0 3rem;
    }
    .left-sidebar-nav-item {
        padding: 10px 5px 10px 18px;
    }
    .bank-card-detail {
        width: 500px;
    }
    ul#notifi-type {
        display: block;
    }
    label.notify-type-lbl {
        display: none;
        padding-right: 0;
    }
    ul.notification-types.mt-10 {
        margin-top: 2.5rem !important;
    }
    a.back-to-all-stays {
        margin-left: -30px;
        margin-top: -40px;
    }
    .boards-white {
        min-height: 251.95px;
    }
}

@media (min-width: 1200px) {
    .left-sidebar {
        width: 295px !important;
        min-width: 295px !important;
        max-width: 295px !important;
        padding: 0 30px;
        text-align: center;
    }
    hr.left-sidebar-divider {
        margin-left: -60px;
        margin-right: -20px;
    }
    .tripper-dashboard div.hello-lydia-down-arrow,
    div.hello-lydia-down-arrow {
        right: 30%;
    }
    .my-account-dashboard #content-wrapper #content {
        padding: 0 8rem;
    }
    #new-payment-method_popup .modal-dialog.modal-xl {
        max-width: 1020px;
    }
    .boards-white {
        min-height: 273.25px;
    }
}
@media (min-width: 1400px) {
    .boards-white {
        min-height: 294px;
    }
}
.right-my-stay-col{margin-top:24px;}
.mystays-hotel-name{margin-bottom:36px;}
.tripper-image .user-name-mobile{margin-bottom:0px; font-family: Open Sans; font-size: 19px; font-weight: 300; letter-spacing: 0px;}
.dollars-saved-since{margin-bottom:40px;}
/************
 Responsive 
 *************/
 @media(min-width:1024px){
     .my-stay-block{margin-bottom:35px !important; border-bottom: 1px solid #EFEFEF; padding-bottom:35px;}
     .my-acc-dashbrd .card-body{padding-bottom:0px !important;}
     .my-acc-dashbrd .shadow{border-radius:8px; border: 1px solid #E3E3E3;}
    }
@media(max-width:767.98px){
    .my-acc-dashbrd.my-accountsetting-mob .card-body { padding: 40px 30px;}
    h2.dashboard-title,h2.dashboard-title b { font-size: 24px; font-weight: bold; font-family: "fatfrank", sans-serif;}
    .dashboard-forms { text-align: center;}
    form.dashboard-forms#my-account-setting-popup .form-group-custm { margin-top: 15px;}
    #myAccountSetting a.button-default-custom,  #myAccountSetting button.button-default-custom,
    .dashboard-forms a.button-default-custom,.dashboard-forms button.button-default-custom { min-width: 100%;}

    .my-accountsetting-mob .dashboard-forms .btn-add-payment-method { text-align: center;}
    .my-accountsetting-mob .dashbrd-social-login{display:flex;align-items:center;justify-content:center;width:100%;}
    .my-accountsetting-mob .dashbrd-social-login span{display:flex;flex-direction:column;}
    .my-accountsetting-mob .dashbrd-social-login span a,.dashbrd-social-login span.not-connected a{display:flex;flex-direction:column;margin-right:0;text-align:center;align-items:center;padding:0 15px;}
    .my-accountsetting-mob .dashbrd-social-login span a img { width: 90px; height: 90px;}

    .my-acc-dashbrd.my-accountsetting-mob .card h3 { text-align: center;}
    .my-accountsetting-mob .bank-card-detail {text-align: left;    width: auto;}
    .my-acc-dashbrd.my-accountsetting-mob .col-lg-6.pl-0{padding-right: 0; }

    .my-acc-dashbrd .notification-form ul.notification-types li { display: flex; width: 100%; justify-content: space-between;}
    .my-acc-dashbrd .notification-form .col-lg-6.pl-1 {  padding-left: 12.5px !important;}
    .my-acc-dashbrd .notification-form .col-lg-6.pr-1 {padding-right: 12.5px !important; }
    .my-acc-dashbrd .notification-form label.notify-type-lbl  { font-size: 16px !important; color: #3D3D3D !important; }
    .my-acc-dashbrd .notification-form ul.notification-types { border-bottom: 1px  solid #EFEFEF; padding-bottom: 20px;}
    .my-acc-dashbrd .notification-form .row.mb-5,     .my-acc-dashbrd .notification-form .row.mb-15  { margin-bottom: 10px !important;}
    .my-acc-dashbrd .notification-form hr.form-divide-line { display:none;}
    .my-acc-dashbrd .notification-form .notifi-unsubscribe {border-bottom: 1px  solid #EFEFEF; margin-bottom: 30px;}
    .my-acc-dashbrd .notification-form .notifi-unsubscribe ul.notification-types { border-bottom: none; padding-right: 0 !important;}
    .my-acc-dashbrd .notification-form .notifi-unsubscribe ul.notification-types li { justify-content: flex-end;}
    .my-acc-dashbrd .notification-form .notifi-dropdown  p.my-notifi-title { padding-top: 0px !important; }
    a.button-default-custom, button.button-default-custom { min-width: 100%;}

    /********************* my stay for tripper *****************/
    .togl-btn-custom{display:none;}
    .mystay-tripboard{width:100%; border-radius: 50px;}
    h1.title-mystay-tripboard {display: none !important;}
    .mystay-tripboard .add-tripboard-container .vertical-middle{padding:0;}
    .mystay-tripboard .add-tripboard-container{padding:40px 15px;}
    .mystays-list-img {height: 180px;}
    .mystays-list-img img { height: 180px;border-radius: 20px;}
    .custom-text-basic-rules .row .pr-5{padding-right:0 !important;}
    p.mystays-list-title, p.mystays-list-title a, p.mystays-list-title span, p.mystays-hotel-name, p.mystays-hotel-name a, p.mystays-hotel-name span{text-align:left;}
    .left-my-stay-col{width:50%; text-align:left; float:left;}
    .right-my-stay-col{width:50%; text-align:right; float:left;}
    .my-stay-share{position: absolute; width: 100%; top: 0px; right: -120px;}
    .custom-text-basic-rules{margin-top:64px;}

    /****************** my dashboard ******************/
    .my-acc-dashbrd{padding-left:5px; padding-right:5px;}
    .my-acc-dashbrd .upcoming-stays-block{border: 1px solid #B42468; border-radius:5px; padding:24px !important;}
    .triper-dashbrd-card-block .block-1-heading-1{width:61%; float:left; text-align:left; padding-bottom:24px;}
    .triper-dashbrd-card-block .block-1-heading-2{width:39%; float:left; text-align:right;}
    .block-1-heading-3, .block-1-heading-4{text-align:left;}
    .trip-img-block-1 img{height:146px;}
    p.mystay-status-text.approved, p.mystay-status-text.rejected{width:100%; margin-top:42px;}
    .block-comon-title{display: inline-block; width:60%; float:left; text-align:left;}
    .recent-message-dashboard{display: inline-block; width:80%; float:left; text-align:left;}
    .triper-dashbrd-card-block .recent-message-see-all{display: inline-block; width:20%; float:left; text-align:left;}
    .triper-stay-dbrd-list .col-3{flex: 0 0 35%; max-width: 35%;}
    .triper-stay-dbrd-list .col-9{ flex: 0 0 65%; max-width: 65%; text-align:left; padding-left: 15px !important;}
    .trip-img-block-2 img{height: 90px; width: 120px;}
    .dashboard-my-offer{overflow-y:scroll;}
    .dashboard-my-offer::-webkit-scrollbar {display: none;}
    .dashboard-my-offer {-ms-overflow-style: none;  /* IE and Edge */ scrollbar-width: none;  /* Firefox */}
    .recent-chat-box-block{margin-top:60px !important;}
    .recent-message-name, .recent-message-content{text-align:left;}
    .recent-message-date{position:relative; top:-30px;}
    .recent-message-chatbox{padding: 10px 20px 10px 0px;}
    .my-tripboards-row{width:100%; margin-top:50px !important;}
    .my-tripboard-dashboard{padding:20px !important;}
    .my-tripboards-row .pr-4{padding-right:0px !important;}
    .tripper-tripboard-box .tile-1 img, .tripper-tripboard-box .tile-2 img{    width: 152px;  height: 94px;}
    .tripper-tripboard-box .tile-2 .overlay-yelblue{width:92%;}
    .share-edit-tripboard{text-align:left;}
    .my-account-dashboard{display:block;}
    .left-sidebar {display: block;}

    
}
