table { 
    border-collapse: collapse; 
    width: 100%; 
} 
  
th, td { 
    text-align: left; 
    padding: 8px; 
}
tr:nth-child(even) { 
    background-color: rgba(0,0,0,.075); 
}       
td.details-control {        
cursor: pointer;
}