table { 
    border-collapse: collapse; 
    width: 100%; 
} 
  
th, td { 
    text-align: left; 
    padding: 8px; 
} 
  
tr:nth-child(even) { 
    background-color: rgba(0,0,0,.075); 
} 
td.details-control {
    cursor: pointer;
}

#propertyBooking_wrapper{
    width:100% !important;
}
table.dataTable.no-footer, #propertyBooking table td {
    border: none !important;
}
#extraInfo tbody th, #extraInfo tbody td {
    padding: 5px 10px;
}
.custom-refunded-text{
    color: red !important;
    font-weight: bold;
}
.custom-completed-text{
    color: #71C082 !important;
    font-weight: bold;
}