.tile {
    position: relative;
    background: #ffffff;
    padding: 20px;
    -webkit-box-shadow: 0 6px 24px rgba(185, 196, 213, 0.16);
    box-shadow: 0 6px 24px rgba(185, 196, 213, 0.16);
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn {
    font-size: 16px;
    padding: .425rem 1rem;

}

.btn-bold {
    font-weight: 700;
}

.btn-font-fatfrank {
    font-family: 'fatfrank', sans-serif !important;
}

.btn-round {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.btn.btn-pill:hover {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
}

.btn-pink {
    color: #fff;
    background-color: #E40046;
    border-color: #E40046
}

.btn-pink:hover {
    color: #fff;
    background-color: #E40046;
    border-color: #E40046
}

.btn-pink:focus,
.btn-pink.focus {
    box-shadow: 0 0 0 .2rem rgba(0, 90, 90, 0.5)
}

.btn-pink.disabled,
.btn-pink:disabled {
    color: #fff;
    background-color: #E40046;
    border-color: #E40046
}

.btn-pink:not(:disabled):not(.disabled):active,
.btn-pink:not(:disabled):not(.disabled).active,
.show>.btn-pink.dropdown-toggle {
    color: #fff;
    background-color: #E40046;
    border-color: #E40046
}

.btn-pink:not(:disabled):not(.disabled):active:focus,
.btn-pink:not(:disabled):not(.disabled).active:focus,
.show>.btn-pink.dropdown-toggle:focus {
    /* box-shadow: 0 0 0 .2rem rgba(0, 90, 90, 0.5) */
    box-shadow: none;
}


.btn-outline-grey {
    color: #727272;
    background-color: transparent;
    background-image: none;
    border-color: #727272
}

.btn-outline-grey:hover {
    color: #fff;
    background-color: #727272;
    border-color: #727272
}

.btn-outline-grey:focus,
.btn-outline-grey.focus {
    box-shadow: none
}

.btn-outline-grey.disabled,
.btn-outline-grey:disabled {
    color: #727272;
    background-color: transparent
}

.btn-outline-grey:not(:disabled):not(.disabled):active,
.btn-outline-grey:not(:disabled):not(.disabled).active,
.show>.btn-outline-grey.dropdown-toggle {
    color: #fff;
    background-color: #727272;
    border-color: #727272
}

.btn-outline-grey:not(:disabled):not(.disabled):active:focus,
.btn-outline-grey:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-grey.dropdown-toggle:focus {
    box-shadow: none
}


.btn-primary-go {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    background: linear-gradient(239.11deg, #E60A4C 7.22%, #F9DC00 98.12%);
    /* background-image: linear-gradient(50deg, #fff 0%, #FCE300 20%, #F80E41 77%); */
}

.btn-primary-go:hover {
    color: #fff;
}

/*-----------------------------*/

.height-block {
    height: 100%;
    display: block;
}

.chat-wrapper {
    position: relative;
}

.sidechatpanel {
    height: auto;
    color: #000;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
    padding: 30px 30px 10px 30px;
}

.search-chat {
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #C5CAD8;
    background-color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position: relative;
}

.search-chat label {
    position: absolute;
    /* margin: 10px 0 0 20px; */
    left: 15px;
    top: 15px;
}

.search-chat label i {
    font-size: 22px;
}

.search-chat input {
    background-color: transparent;
    padding: 10px 40px 10px 46px;
    /* width: calc(100% - 25px); */
    width: 100%;
    border: none;
    color: #3D3D3D;
    min-height: 50px;
    font-size: 17px;
    font-weight: bold;
}
.search-chat input:hover, .search-chat input:focus {
    box-shadow: none;
    outline: 0;
}
.chatcontact-list {
    /* height: calc(100% - 40px); */
    overflow-y: auto;
    overflow-x: hidden;
    /* max-height: 550px; */
    /* margin: 0 -20px;*/
    /* max-height: calc(100% - 550px); */
    height: 500px;

}
/* Hide scrollbar for Chrome, Safari and Opera */
.chatcontact-list::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .chatcontact-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.chatcontact-list .mCSB_inside>.mCSB_container {
    margin-right: 0px;
}

.chatcontact-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chatcontact-list ul li.chatcontact {
    position: relative;
    padding: 30px 20px 0 30px;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.chatcontact-list ul li.chatcontact:hover,
.chatcontact-list ul li.chatcontact.active {
    background-color: rgba(242, 244, 246, 0.5);
}

.chatcontact-list .wrap {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #EBEDF7;
}

.chatcontact-list ul li.chatcontact .wrap span.contact-status {
    position: absolute;
    right: 7px;
    bottom: 2px;
    margin: -2px 0 0 -2px;
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    background: #95a5a6;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.chatcontact-list ul li.chatcontact .wrap span.online {
    background: #2ecc71;
}

.chatcontact-list ul li.chatcontact .wrap img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.chatcontact-list ul li.chatcontact .meta-left {
    position: relative;
}

.chatcontact-list ul li.chatcontact .wrap .meta {
    width: calc(100% - 60px);
    overflow: hidden;
}

.chatcontact-list ul li.chatcontact .wrap .meta .name-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.chatcontact-list ul li.chatcontact .wrap .meta .name {
    font-size: 17px;
    font-weight: bold;
    color: #3D3D3D;
    line-height: normal;
    width: calc(100% - 80px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatcontact-list ul li.chatcontact .wrap .meta .name span {
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatcontact-list ul li.chatcontact .wrap .meta .name span::before {
    content: '';
    border-left: 1px solid #3D3D3D;
    position: relative;
    padding-right: 8px;
}

.chatcontact-list ul li.chatcontact .wrap .meta .chat-date {
    font-size: 16px;
    font-weight: 500;
    color: #3D3D3D;
}

.chatcontact-list ul li.chatcontact .wrap .meta .preview {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-size: 16px;
    font-weight: 500;
    color: #3D3D3D;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}

.chatcontent-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    /*position: absolute; left: 0; right: 0; */
}


.content-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0 25px 30px;
    width: calc(100% - 38%);

}

.content-userimg {
    margin-right: 30px;
}

.content-userimg img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.content-user .name-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.content-user .name {
    font-size: 17px;
    font-weight: bold;
    color: #3D3D3D;
    line-height: normal;
    width: calc(100% - 10px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-user .name span {
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-user .name span::before {
    content: '';
    border-left: 1px solid #3D3D3D;
    position: relative;
    padding-right: 8px;
}

.content-link {
    padding-right: 30px;
}

.content-link ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content-link ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
}

.content-link ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    position: relative;
    color: #B7BACA;
    padding: 46px 20px 46px 20px;
    display: inline-block;
    letter-spacing: normal;
    text-decoration: none;
    outline: none;
}

.content-link ul li.active a,
.content-link ul li:hover a {
    color: #000;
}

.content-link ul li.active a:after,
.content-link ul li:hover a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(to right, #FDE100, #F50240);
    background-image: linear-gradient(to right, #FDE100, #F50240);
}


.chatcontent-body {
    max-height: calc(100% - 245px);
    overflow-y: auto;
    overflow-x: hidden;
    height: 500px;
    /*
    height: calc(100% - 120px); position: absolute; left: 0; right: 0; top: 111px;*/
}

.message-list {
    /*height: auto; min-height: calc(100% - 125px); max-height: calc(100% - 125px); overflow-y: auto;  overflow-x: hidden;*/
    padding: 20px 30px;
}

.message-list ul li {
    display: inline-block;
    clear: both;
    margin: 15px 0 5px 0;
    /*width: calc(100% - 25px);*/
    font-size: 14px;
}

.message-list ul li.sent,
.message-list ul li.replies {
    display: flex;
}

.message-list ul li.replies {
    justify-content: flex-end;
}

.message-list ul li .img img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.message-list ul li .message-wrapper {
    position: relative;
}

.message-list ul li.sent img {
    margin-right: 20px;
}

.message-list ul li.sent .message-box {
    margin-bottom: 10px;
    max-width: 205px;
    -webkit-border-radius: 6px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 6px;
    -moz-border-radius-topleft: 0;
    border-radius: 6px;
    border-top-left-radius: 0;
}

.message-list ul li.sent p {
    -webkit-border-radius: 6px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 6px;
    -moz-border-radius-topleft: 0;
    border-radius: 6px;
    border-top-left-radius: 0;
}

.message-list ul li .time {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    margin-top: 8px;
}

.message-list ul li p {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: normal;
    padding: 10px 15px;
    background: #F2F4F6;
}

.message-list ul li.replies .message-box {
    margin-bottom: 10px;
    max-width: 205px;
    -webkit-border-radius: 6px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 6px;
    -moz-border-radius-topright: 0;
    border-radius: 6px;
    border-top-right-radius: 0;
    display: flex;
    justify-content: flex-end;
}

.message-list ul li.replies p {
    color: #fff;
    background-color: transparent;
    padding: 0;
    background: #707070;
    padding: 10px 15px;
    -webkit-border-radius: 6px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 6px;
    -moz-border-radius-topright: 0;
    border-radius: 6px;
    border-top-right-radius: 0;
}

.message-list ul li.replies .img {
    order: 2;
    margin-left: 20px;
}

.message-list ul li.replies .time {
    display: flex;
    justify-content: flex-end;
}


.message-list ul li.replies .message-info-body p {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 0;
    background-color: transparent;
    padding: 0;
}

.message-list ul li.replies .message-info-wrap {
    max-width: 100%;
    min-width: auto;
    -webkit-border-radius: 6px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 6px;
    -moz-border-radius-topright: 0;
    border-radius: 6px;
    border-top-right-radius: 0;
}

.offer-text {
    font-size: 16px;
    color: #727272;
    font-weight: 700;
    display: block;
}

.chatcontent-footer {
    padding: 15px 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.chatcontent-footer-wrapper {
    border-top: 2px solid #C5CAD8;
    /* min-height: 140px; */
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 21px 0;
}

.chat-textarea {
    border: none;
    width: calc(100% - 100px);
    padding-right: 40px;
}

.chat-textarea .form-control {
    border: none;
    resize: none;
}

.chat-textarea .form-control:focus {
    box-shadow: none;
}

.chat-action .btn {
    font-size: 16px;
    font-weight: 800;
    min-width: 90px;
    padding: .425rem .85rem;
    box-shadow:0px 12px 20px 0px #00000054;

}
.chat_input::-webkit-input-placeholder,  .search-chat input::-webkit-input-placeholder { /* Edge */
    color: #000;
  }
  
  .chat_input:-ms-input-placeholder,  .search-chat input::-webkit-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
  }
  
  .chat_input::placeholder,  .search-chat input::-webkit-input-placeholder {
    color:#000;
  }

.message-info-wrap {
    padding: 20px;
    border: 2px solid #ccc;
    max-width: 100%;
    min-width: auto;
    -webkit-border-radius: 6px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 6px;
    -moz-border-radius-topleft: 0;
    border-radius: 6px;
    border-top-left-radius: 0;
}

.message-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.message-status {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.message-list .message-info-body p {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 0;
    background-color: transparent;
    padding: 0;
}

.message-info-wrap.mesginfo-yellow {
    border-color: #FC9202;
}

.message-info-wrap.mesginfo-yellow .message-status,
.message-info-wrap.mesginfo-yellow .message-status {
    color: #FC9202;
}

.message-info-wrap.mesginfo-red {
    border-color: #EC1D1D;
}

.message-info-wrap.mesginfo-red .message-status,
.message-info-wrap.mesginfo-red .message-status {
    color: #EC1D1D;
}

.message-info-wrap.mesginfo-green {
    border-color: #28DD2F;
}

.message-info-wrap.mesginfo-green .message-status,
.message-info-wrap.mesginfo-green .message-status {
    color: #28DD2F;
}

.message-info-action {
    display: inline-block;
    align-items: center;
    margin-top: 10px;
}

.message-info-action a {
    margin: 0 2px 5px 2px;

}

.message-info-action a.btn-link {
    padding: .425rem 0;
    color: #727272;
}

.message-info-action a.btn-link:hover {
    color: #000;
}


@media (max-width:1200px) {
    .content-link ul li a {padding-left: 5px; padding-right: 5px; }
}

@media (max-width:991.98px) {
    .chat-left { margin-bottom: 30px;}
}

@media (max-width:580px) {
   .chatcontent-header { flex-direction: column; justify-content: flex-start;}
   .content-userimg { margin-right: 20px;}
    .content-user { width: 100%; padding:25px 30px 0px 30px;}
   .content-link{padding-right: 0; width: 100%;}
   .content-link ul { display: flex;}
   .content-link ul li { width: 100%;}
   .content-link ul li a { padding: 10px 20px; display: flex; width: 100%; align-items: center;  justify-content: center;}
   .chatcontent-footer-wrapper { padding: 15px 0;}
}


@media screen and (min-width: 768px) {
    .message-list ul li .message-wrapper .message-box {max-width: 620px; }
    .message-list ul li .message-wrapper .message-info-wrap { min-width: 400px; max-width: 400px;}
}

@media screen and (min-width: 1200px) {
    .message-list ul li .message-wrapper .message-info-wrap {min-width: 620px; max-width: 620px;}

}
#profileImage {
 width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(to right, #FDE100, #F50240);
    /* font-size: 35px; */
    color: #fff;
    text-align: center;
    line-height: 60px;
    /* margin: 20px 0; */
}
#profileImage.owner{background: linear-gradient(to right, #FDE100, #F50240);}
#profileImage.rental{background: linear-gradient(to right, #FDE100, rgb(191, 173, 45));}
.chatcontact #profileImage{margin-right: 10px;}

.message-list ul li.sent #profileImage{ margin-right: 20px;}

.searchclose {     position: absolute;
    right: 15px;
    top: 16px;
    display: inline-block;
    width: 18px;
    height: 18px; }
.searchclose i { font-size: 18px; color: #C5CAD8;}
.searchclose:hover i{color: red;}
.chatcontent-body::-webkit-scrollbar {
width: 4px;
}
.chatcontent-body::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
border-radius: 10px;
}
.chatcontent-body::-webkit-scrollbar-thumb {
background: #3d3d3d;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
}

.chatcontent-body::-webkit-scrollbar-thumb:hover {
background: #3d3d3d;
}
.no-user{
        display: inline-block;
    font-size: 16px;
    height: auto;
    color: #000;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
    padding: 30px 30px 10px 30px;
    text-align: center;
    width: 100%;
    color: #3D3D3D;
    min-height: 50px;
    font-size: 17px;
    font-weight: bold;
}
.tile p.first-conversation {  
    display: block;
    color: #000;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
    padding: 30px 30px 10px 30px;
    text-align: center;
    width: 100%;
    color: #3D3D3D;
    min-height: 50px;
    font-size: 17px;
    font-weight: bold;
}
.message-block{    display: flex;
    justify-content: space-between;
    align-items: center;}
.message-block .preview{    width: calc(100% - 30px);}
.message-count{    color: #fff;
    background-color: red;
    /* padding: 10px; */
    width: 30px;
    border-radius: 50%;
    height: 30px;
    line-height: 30px;
    text-align: center;}

.chatcontent-body .message-list ul li.date-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0px ;
}
.chatcontent-body .message-list ul li.date-separator .separator-info {
    background-color: #fff;
}
.chatcontent-body
    .message-list
    ul
    li.date-separator
    .separator-info
    span {
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    padding: 4px 12px;
    display: inline-block;
    position: relative;
    z-index: 10;
    background-color: #fff;
}
.chatcontent-body
    .message-list
    ul
    li.date-separator
    .separator-info::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
}
.chatcontact-list ul li.chatcontact .wrap .meta .admin_name ,.content-user .admin_name{
font-size: 17px;
font-weight: bold;
color: #3D3D3D;
line-height: normal;
width: auto;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
background: -webkit-linear-gradient(45deg, #ffc107, #E40046 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 800;
}
.chat-back-button{margin-right:20px; background: #ffffff; box-shadow: 0px 20px 40px 0px #00000040; padding: 16px 20px; border-radius: 50%;  height: 50px; width: 50px;}
.pink-dot{height:10px; width:10px; background-color: #E40046; border-radius:50%; position: absolute;     top: 26px;
    left: -20px;}
.main-back-button{display:inline-block;}
.back-heading{display: inline-block;}
@media screen and (min-width:320px) and (max-width:768px){
.message-list ul li.replies .img, .message-list ul li.sent img{display:none;}
.message-list ul li .time{font-size:8px;}
.chat-action .btn{background:none !important; color: #979797; border: 1px solid #979797}

}