@import url("https://use.typekit.net/ffx5zmj.css");
@font-face {
    font-family: 'fatfrank', sans-serif;
    src: url('https://use.typekit.net/ffx5zmj.css');
    font-weight: 400;
}
body {
    background: #F2F4F6;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    margin: 0;
}
::-moz-selection {
    background: #1c2056;
    color: #ffffff;
}
::selection  {
    background: #1c2056;
    color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}
h1, h2 {
    padding: 0;
    font-size: 20px;
    line-height: initial;
    color: #3D3D3D;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 25px;
    font-weight: 700;
    font-family: 'fatfrank', sans-serif;
    letter-spacing: 1px;
}
h2 {
    margin-bottom: 30px;
}
h3 {
    font-size: 46px;
    line-height: 55px;
    color: #1a56a3;
    margin: 0;
    padding-bottom: 10px;
}
h4 {
    font-size: 26px;
    line-height: normal;
    color: #263238;
    margin: 0;
    padding-bottom: 10px;
}
h5 {
    font-size: 20px;
    line-height: normal;
    color: #263238;
    margin: 0;
    padding-bottom: 10px;
}
h6 {
    font-size: 14px;
    line-height: 19px;
    margin: 0;
    padding-bottom: 5px;
}
ul, ol, li, ul ul, ol ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    font-size: 20px;
    line-height: 36px;
    color: #2870db;
    margin: 0;
    padding-bottom: 15px;
}
p:last-child {
    padding-bottom: 0;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*  global css */
.custom-container {
    padding: 0 100px;
}
.display-inline {
    display: inline-block;
}
.transition {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* header css */
header ul.desktop-menu li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
}
header ul.desktop-menu li a {
    position: relative;
    font-size: 20px;
    color: #B7BACA;
    font-family: 'fatfrank', sans-serif;
    padding: 40px 21px 44px 21px;
    display: inline-block;
    letter-spacing: 1px;
    text-decoration: none;
    outline: none;
}
header ul.desktop-menu li.active a, header ul.desktop-menu li a:hover {
    color: #3D3D3D;
}
header ul.desktop-menu li.active a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(to right, #FDE100 , #F50240);
    background-image: linear-gradient(to right, #FDE100 , #F50240);
}
.header-user-info .user-image {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
}
header {
    box-shadow: 5px 5px 25px rgba(0,0,0,0.1);
    background: #fff;
}
.header-user-info .responsive-menu {
    display: none;
    vertical-align: middle;
    margin-left: 20px;
    font-size: 25px;
    color: #E20A42;
    cursor: pointer;
}
.responsive-menu-layer {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    cursor: pointer;
    display: none;
}
.responsive-menu-layer.show {
    display: block;
}
.content-area {
    padding: 60px 0;
}
.custom-row {
    display: table;
    width: 100%;
}
.custom-row .left-col {
    display: table-cell;
    background: #fff;
    width: 401px;
    border-radius: 10px;
    margin-right: 0;
}
.list-white-bg {
    background: #fff;
    padding: 90px 50px;
    border-radius: 10px;
    height: 100%;
}
ul#ListingTab {
    position: relative;
}
ul#ListingTab, .nav.nav-tabs.custom-tab {
    border: none;
}
ul#ListingTab li {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
}
ul#ListingTab li a {
    border: none;
    font-size: 20px;
    color: #3D3D3D;
    pointer-events: all;
    line-height: normal;
    font-family: 'fatfrank', sans-serif;
    padding: 0;
    letter-spacing: 1px;
    position: relative;
    padding-left: 70px;
    padding-bottom: 65px;
}
ul#ListingTab li a.disabled {
    pointer-events: none;
    color: #B7BACA;
}
ul#ListingTab li:last-child a {
    padding-bottom: 0;
}
ul#ListingTab li a.active {
    color: #3D3D3D;
    pointer-events: all;
}
ul#ListingTab li a.disabled:before {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    height: 20px;
    width: 20px;
    border: 4px solid #E40246;
    border-radius: 50%;
    opacity: 0.4;
    z-index: 1;
}
ul#ListingTab li a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    height: 20px;
    width: 20px;
    border: 4px solid #E40246;
    border-radius: 50%;
    opacity: 1;
    z-index: 1;
}
ul#ListingTab:after {
    content: "";
    position: absolute;
    height: 97%;
    width: 2px;
    background: #E40246;
    top: 0;
    left: 9px;
    z-index: 0;
    opacity: 0.2;
}
ul#ListingTab:before {
    content: "";
    position: absolute;
    height: 0;
    width: 2px;
    background: #E40246;
    top: 0;
    left: 9px;
    z-index: 1;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul#ListingTab li a:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 4px;
    height: 14px;
    width: 14px;
    background: #EBEDF7;
    border-radius: 50%;
    z-index: 1;
}
ul#ListingTab li:before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background: transparent;
    z-index: 1;
    border-radius: 50%;
    top: -4px;
    left: -5px;
    border: 15px solid #fff;
}
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}
.outer-table {
  display: none;
}
ul#ListingTab li.success:after {
    content: "\f00c";
    font-family: FontAwesome;
    position: absolute;
    top: 1px;
    z-index: 2;
    background: #E40246;
    height: 18px;
    width: 18px;
    opacity: 1;
    left: 0px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: #fff;
}
/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
ul#ListingTab li {
    pointer-events: none;
}
.step.active {
  opacity: 1;
}
.step.finish {
  background-color: #4CAF50;
}
ul#ListingTab.counter2:before {
    height: 9%;
}
ul#ListingTab.counter3:before {
    height: 13%;
}
ul#ListingTab.counter4:before {
    height: 18%;
}
ul#ListingTab.counter5:before {
    height: 26%;
}
ul#ListingTab.counter6:before {
    height: 32%;
}
ul#ListingTab.counter7:before {
    height: 36%;
}
ul#ListingTab.counter8:before {
    height: 39%;
}
ul#ListingTab.counter9:before {
    height: 42%;
}
ul#ListingTab.counter10:before {
    height: 49%;
}
ul#ListingTab.counter11:before {
    height: 72%;
}
ul#ListingTab.counter12:before {
    height: 85%;
}
ul#ListingTab.counter13:before {
    height: 98%;
}
.center-container {
    margin: auto;
    position: relative;
    min-height: 68vh;
    max-width: 940px;
    width: 100%;
}
div#myTabContent {
    max-width: 940px;
    margin: auto;
}
.row-custom {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 65px;
}
.row-custom .right-input {
    position: relative;
    width: 600px;
    display: inline-block;
    vertical-align: top;
}
.row-custom .left-label {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 605px);
    padding-right: 50px;
}
.row-custom .left-label label {
    font-size: 18px;
    line-height: 25px;
    font-weight: 800;
    color: #2E3347;
}
.row-custom .right-input input, .row-custom .right-input select, .row-custom .right-input textarea {
    height: 75px;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 35px;
    color: #3D3D3D;
    border: 1px solid #C5CAD8;
    border-radius: 7px;
    outline: none;
    text-decoration: none;
    line-height: 22px;
    resize: none;
}
.row-custom .right-input input, .row-custom .right-input select {
    height: 50px;
}
.row-custom .right-input input:focus {
    border-color: #FCE300;
}
.row-custom .right-input textarea:focus {
    border-color: #FCE300;
}
.row-custom .right-input select:focus {
    border-color: #FCE300;
}
.row-custom .right-input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #C5CAD8;
}
.row-custom .right-input input::-moz-placeholder { /* Firefox 19+ */
  color: #C5CAD8;
}
.row-custom .right-input input:-ms-input-placeholder { /* IE 10+ */
  color: #C5CAD8;
}
.row-custom .right-input input:-moz-placeholder { /* Firefox 18- */
  color: #C5CAD8;
}
.row-custom .right-input select::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #C5CAD8;
}
.row-custom .right-input select::-moz-placeholder { /* Firefox 19+ */
  color: #C5CAD8;
}
.row-custom .right-input select:-ms-input-placeholder { /* IE 10+ */
  color: #C5CAD8;
}
.row-custom .right-input select:-moz-placeholder { /* Firefox 18- */
  color: #C5CAD8;
}
.row-custom .right-input textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #C5CAD8;
}
.row-custom .right-input textarea::-moz-placeholder { /* Firefox 19+ */
  color: #C5CAD8;
}
.row-custom .right-input textarea:-ms-input-placeholder { /* IE 10+ */
  color: #C5CAD8;
}
.row-custom .right-input textarea:-moz-placeholder { /* Firefox 18- */
  color: #C5CAD8;
}
.row-custom .right-input textarea.large {
    height: 165px;
}
.row-custom .right-input .radio-btn {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 28px;
}

/* Hide the browser's default radio button */
.row-custom .right-input .radio-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
}

/* Create a custom radio button */
.row-custom .right-input .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #BEC3D0;
}

/* When the radio button is checked, add a blue background */
.row-custom .right-input .radio-btn input:checked ~ .checkmark {
    border-color: #F80041;
}
.row-custom .right-input .radio-btn input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.row-custom .right-input .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.row-custom .right-input .radio-btn input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.row-custom .right-input .radio-btn .checkmark:after {
    top: 6px;
    left: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #F80041;
}
.row-custom .right-input .radio-btn {
    font-size: 17px;
    color: #2E3347;
    font-weight: 600;
}
.listing-footer-btns {
    margin-top: 10px;
}
.listing-footer-btns > div {
    display: inline-block;
    width: 100%;
}
.listing-footer-btns button#nextBtn {
    width: 221px;
    display: inline-block;
    border: none;
    background-image: linear-gradient(50deg, #fff 0%, #FCE300 20%, #F80E41 77%);
    height: 52px;
    font-size: 17px;
    color: #fff;
    border-radius: 35px;
    font-family: 'fatfrank', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    box-shadow: 5px 6px 20px rgba(0,0,0,0.2);
    float: right;
}
.listing-footer-btns button#prevBtn {
    width: 90px;
    outline: none;
    text-decoration: none;
    border: none;
    background: #fff;
    font-size: 20px;
    font-family: 'fatfrank', sans-serif;
    color: #F80E41;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 5px;
    margin-top: 5px;
}
.listing-footer-btns button#prevBtn i {
    padding-right: 15px;
}
.iframe-map {
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
}
.iframe-map iframe {
    width: 100%;
    height: 370px;
}
.row-custom .right-input .radio-btn b {
    font-weight: 700;
    display: block;
    padding-bottom: 5px;
}
.row-custom .right-input .radio-btn b img {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin-top: -7px;
    height: 24px;
    margin-right: 15px;
}
.row-custom .right-input select {
    height: 50px;
    padding-right: 65px;
    -webkit-appearance: none;
    background-image: url(../images/down-arrow.png);
    background-repeat: no-repeat;
    background-position: 95% 12px;
}
.row-custom .right-input .input-button input {
    height: 50px;
}
.row-custom .right-input .input-button.red input:focus{
    border-color: #F80E41;
}
.row-custom .right-input .input-button.green input:focus{
    border-color: #3BDB26;
}
.row-custom .right-input .input-button {
    position: relative;
}
.row-custom .right-input .input-button a {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 150px;
    font-size: 14px;
    background: #F80E41;
    font-family: 'fatfrank', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    line-height: 35px;
    text-align: center;
    border-radius: 45px;
    cursor: pointer;
    text-decoration: none;
}
.row-custom .right-input .input-button.green a {
    background: rgb(59 219 38 / 0.20);
    color: #000;
}
.row-custom .right-input p {
    font-size: 17px;
    line-height: 26px;
    color: #2E3347;
    font-weight: 600;
    padding-top: 20px;
}
.plus-minus-sec .minus {
    height: 27px;
    width: 27px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #EBEDF7;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    color: #EBEDF7;
    line-height: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.plus-minus-sec .plus {
    height: 27px;
    width: 27px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #F80E41;
    border-radius: 5px;
    text-align: center;
    font-size: 21px;
    color: #F80E41;
    line-height: 22px;
    cursor: pointer;
    font-weight: 900;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.plus-minus-sec input.cmn-add {
    width: 87px;
    display: inline-block;
    vertical-align: middle;
    color: #3D3D3D;
    font-size: 24px !important;
    background: transparent;
    border: none;
    user-select: none;
    height: 30px;
    padding: 0;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 700 !important;
}
.plus-minus-sec {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.plus-minus-sec .plus:hover {
    background: #F80E41;
    color: #fff;
}
.plus-minus-sec .minus:hover {
    background: #EBEDF7;
    color: #fff;
}
.checkbox-btn {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 17px !important;
  font-size: 23px;
  color: #2E3347;
  font-weight: 600;
}
.checkbox-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
}
.checkmark-check {
    position: absolute;
    top: -4px;
    left: 0;
    height: 28px;
    width: 28px;
    border: 2px solid #C5CAD8;
    border-radius: 5px;
}
.checkbox-btn input:checked ~ .checkmark-check {
    background-color: #F80E41;
    border-color: #F80E41;
}
.checkmark-check:after {
    content: "";
    position: absolute;
    display: none;
    color: #fff;
}
.checkbox-btn input:checked ~ .checkmark-check:after {
  display: block;
}
.checkbox-btn .checkmark-check:after {
    left: 7px;
    top: 2px;
    width: 9px;
    height: 17px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkbox-btn img {
    height: 25px;
    width: auto;
    margin-right: 10px;
}
.row-custom .right-input label.radio-btn:last-child {
    margin-bottom: 0;
}
.row-custom .right-input label.checkmark-check:last-child {
    margin-bottom: 0;
}
.row-custom .right-input .dollar input {
    text-align: center;
}
.row-custom .right-input .dollar:before {
    content: "$";
    position: absolute;
    left: 35px;
    top: 17px;
    font-weight: 700;
    font-size: 17px;
}
.row-custom .right-input button.red-small-btn {
    font-size: 13px;
    font-family: 'fatfrank', sans-serif;
    background: #F80E41;
    border: none;
    height: 35px;
    line-height: 35px;
    width: 180px;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 45px;
    cursor: pointer;
}
.row-custom .right-input .radio-btn b img.small-img {
    height: auto;
    margin-top: 0;
}
.bootstrap-datetimepicker-widget {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 7px;
}
.bootstrap-datetimepicker-widget a.btn {
    padding: 15px;
    text-align: left !important;
    font-size: 25px;
}
.bootstrap-datetimepicker-widget span {
    display: block;
    text-align: center;
}
.bootstrap-datetimepicker-widget span.fa {
    color: #F80041;
}
.bootstrap-datetimepicker-widget button.btn.btn-primary, .bootstrap-datetimepicker-widget button.btn.btn-primary:focus {
    background: #F80041;
    font-weight: 700;
    outline: none;
    border: none;
}
.input-group.date input {
    padding-left: 50px;
    text-align: center;
    padding-right: 50px;
}
.input-group.date span.input-group-addon {
    position: absolute;
    left: 20px;
    top: 12px;
    z-index: 9;
    cursor: pointer;
}
.datepicker-days th, .datepicker-days td {
    padding: 6px;
    text-align: center;
}
.datepicker-months, .datepicker-years, .datepicker-decades {
    width: 214px;
    text-align: center;
}
.datepicker-months table, .datepicker-years table, .datepicker-decades table {
    width: 100%;
}
.datepicker-months td, .datepicker-months th, .datepicker-years th, .datepicker-years td, .datepicker-decades th, .datepicker-decades td {
    padding: 5px;
    text-align: center;
}
.datepicker-months td span, .datepicker-years td span, .datepicker-decades td span {
    padding: 5px;
}
.input-group.date.calendar span.input-group-addon {
    top: 9px;
}
.inside-to {
    text-align: center;
    font-size: 17px;
    color: #3D3D3D;
    font-weight: 600;
    padding: 16px 0;
}
.bedroom-outer-container {
    border: 1px solid #C5CAD8;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}
.bedroom-outer-container label {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
}
.bedroom-outer-container p img {
    height: 23px;
    margin-right: 10px;
}
.bedroom-outer-container p {
    font-size: 17px;
    font-weight: 600;
    color: #3D3D3D;
    margin-bottom: 15px;
}
.bedroom-outer-container .plus-minus-sec input.cmn-add {
    width: 40px;
    font-size: 18px !important;
}
.bedroom-row {
    margin-top: -25px;
    margin-bottom: 25px;
}
.bedroom-outer-container p span {
    width: 46px;
    display: inline-block;
    text-align: center;
}
.bedroom-outer-container select {
    height: 50px;
    padding-right: 65px;
    -webkit-appearance: none;
    background-image: url(../images/down-arrow.png);
    background-repeat: no-repeat;
    background-position: 95% 12px;
    width: 100%;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 35px;
    color: #3D3D3D;
    border: 1px solid #C5CAD8;
    border-radius: 7px;
    outline: none;
    text-decoration: none;
    line-height: 22px;
}
.row-custom .error {
    border-color: #F80041 !important;
}
.row-custom label.error {
    font-weight: 700;
    color: #F80041;
    display: block;
    width: 100%;
    margin-bottom: 0;
    position: absolute;
    bottom: -21px;
    left: 0;
}
.left-listing-progress .list-white-bg {
    height: auto;
    position: sticky;
    top: 40px;
}
.center-container-inner {
    padding: 90px 50px;
}
.padding-10 {
    padding: 10px;
}
.bgwhite {
    background: #fff;
}
.col-lg-9 .padding-10.bgwhite {
    border-radius: 10px;
}
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools, .mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
    opacity: 1;
    filter: "alpha(opacity=1)";
    -ms-filter: "alpha(opacity=1)";
}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #E40246 !important;
}
div#datetimepicker14 .bootstrap-datetimepicker-widget, div#datetimepicker15 .bootstrap-datetimepicker-widget,
div#datetimepicker16 .bootstrap-datetimepicker-widget, div#datetimepicker17 .bootstrap-datetimepicker-widget {
    -webkit-transform: translatX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.row-custom .left-label label.sub-label {
    font-size: 17px;
    line-height: 23px;
    padding-top: 20px;
    font-weight: 600;
}
ul.label-points li {
    font-size: 16px;
    line-height: 20px;
    color: #3D3D3D;
    font-weight: 400;
    list-style-type: disc;
    list-style-position: inside;
}
.image-uploader {
    min-height: 14rem;
    border: 1px dashed #E0E1E2;
    position: relative;
    border-radius: 7px;
    background: rgb(242 244 246 / 0.4);
}
.image-uploader .bold-text-upload {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}
.image-uploader .bold-text-upload:after {
    content: "or";
    display: block;
    text-align: center;
    padding: 15px 0;
    color: #939FA4;
}
.image-uploader span.sub-btn {
    width: 150px;
    height: 35px;
    background: #F80E41;
    border-radius: 45px;
    position: relative;
    cursor: pointer;
}
.image-uploader span.sub-btn:after {
    content: "Upload Files";
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 8px;
    left: 31px;
    font-family: 'fatfrank', sans-serif;
    letter-spacing: 1px;
}
.row-custom .right-input label.text {
    font-weight: 700;
}
.row-custom .right-input .photos {
    margin-bottom: 20px;
}
.row-custom .right-input h5.file-upload-desc {
    font-size: 17px;
    line-height: 25px;
    color: #2E3347;
    font-weight: 700;
    padding-bottom: 3px;
    font-family: 'Open Sans', sans-serif;
}
.row-custom .right-input p.file-upload-desc {
    padding: 0;
    font-size: 17px;
    line-height: 23px;
    font-weight: 600;
}
.row-custom .right-input label.text.add-video {
    padding-top: 50px;
}
.row-custom .right-input p.p-t-20 {
    padding-top: 20px;
}
ul#ListingTab li.success a, ul#ListingTab li.success {
    pointer-events: all !important;
}
.listing-footer-btns button.disabled {
    background: #f2f4f6 !important;
    box-shadow: none !important;
    pointer-events: none !important;
}
a.add-more-availibility {
    clear: both;
    position: relative;
    padding-top: 22px;
    display: inline-block;
    font-size: 18px;
    color: #E40246;
    font-weight: 800;
    text-decoration: none;
}
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    background-image: none;
    border-color: #F80041;
}
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled] {
    background-color: #F80041;
}
.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active:hover.disabled, .datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled:hover.disabled, .datepicker table tr td span.active[disabled], .datepicker table tr td span.active:hover[disabled], .datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active.disabled:hover[disabled] {
    background-color: #F80041;
}
.datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
    background-image: none;
}
.review-title h4 {
    font-size: 24px;
    line-height: normal;
    color: #2E3347;
    font-weight: 800;
}
.review-title a.preview-changes {
    width: 221px;
    display: inline-block;
    border: none;
    background-image: linear-gradient(50deg, #fff 0%, #FCE300 20%, #F80E41 77%);
    height: 52px;
    font-size: 17px;
    color: #fff;
    border-radius: 35px;
    font-family: 'fatfrank', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    box-shadow: 5px 6px 20px rgba(0,0,0,0.2);
    text-decoration: none;
    padding: 15px;
    text-align: center;
    padding-top: 18px;
}
.review-title {
    padding-bottom: 70px;
}
.row-custom .right-input h5.bold-text {
    position: relative;
    font-size: 19px;
    color: #2E3347;
    line-height: normal;
    font-weight: 700;
    padding-bottom: 10px;
    padding-right: 0;
    display: inline-block;
    width: 100%;
    min-height: 50px;
    padding-right: 50px;
}
.row-custom .right-input h5.bold-text a.edit {
    position: absolute;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    height: 40px;
    width: 40px;
    text-align: center;
    right: 0;
    top: 0;
    z-index: 1;
    display: inline-block;
    line-height: 35px;
    border-radius: 7px;
    cursor: pointer;
}
.row-custom .right-input h5.light-text {
    font-size: 19px;
    line-height: 23px;
    color: #2E3347;
    font-weight: 400;
}
.row-custom .right-input .col-6.col-md-4 img {
    width: 100%;
    border-radius: 5px;
}
.row-custom .right-input .col-6.col-md-4 {
    margin-bottom: 20px;
}
.row-custom .right-input h5.bold-text.list {
    line-height: 40px;
}
.row-custom .right-input.amenities-lists label.checkbox-btn {
    padding-left: 0;
    margin-bottom: 30px;
    cursor: default;
}
.row-custom .right-input h5.bold-text.list span.available {
    position: relative;
    display: block;
    width: 100%;
    line-height: 25px;
}
.row-custom .right-input h5.bold-text.list span.available span.title {
    width: 93px;
    display: inline-block;
    vertical-align: top;
}
.row-custom .right-input h5.bold-text.list span.available span.desc {
    width: calc(100% - 100px);
    display: inline-block;
    vertical-align: top;
}
div#form-submited-modal .modal-dialog {
    max-width: 800px;
    width: 100%;
}
div#form-submited-modal .modal-dialog .modal-content {
    padding: 100px 20px 70px 20px;
    border-radius: 8px;
    border: none;
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
}
div#form-submited-modal .modal-dialog .modal-content h4 {
    color: #3D3D3D;
    font-family: 'fatfrank', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}
div#form-submited-modal .modal-dialog .modal-content h5 {
    font-size: 17px;
    line-height: normal;
    color: #3D3D3D;
    font-weight: 600;
    margin-bottom: 40px;
}
.dashboard-btn {
    width: 221px;
    display: inline-block;
    border: none;
    background-image: linear-gradient(50deg, #fff 0%, #FCE300 20%, #F80E41 77%);
    height: 52px;
    font-size: 17px;
    color: #fff;
    border-radius: 35px;
    font-family: 'fatfrank', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    box-shadow: 5px 6px 20px rgba(0,0,0,0.2);
    text-decoration: none;
    padding: 15px;
    text-align: center;
}
.row-custom .right-input .dollar input::-webkit-outer-spin-button,
.row-custom .right-input .dollar input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
}
.row-custom .right-input .dollar input[type=number] {
    -moz-appearance:textfield;
}
.row-custom .right-input .dollar input {
    text-align: left;
    padding-right: 0;
}
.custom-container .align-items-center svg {
    width: 82px;
    height: auto;
}
